.mobileLinks {
  position: relative;
  z-index: 10;
  width: 1.5rem;
}
.mobileLinks .dropdownMenu {
  position: relative;
}
.mobileLinks .dropdownMenu .toggleButton {
  display: none;
  background-color: rgb(153, 51, 73);
}
.mobileLinks .dropdownMenu .hamburger {
  width: 30px;
  height: 22px;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.mobileLinks .dropdownMenu .hamburger div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
  transition: 0.3s;
}
.mobileLinks .dropdownMenu .menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  opacity: 0;
  pointer-events: none;
  transform: translate(127.5%, 7.5%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.mobileLinks .dropdownMenu .menu a {
  text-align: left;
  padding: 8px 12px;
  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 400;
}
.mobileLinks .dropdownMenu .menu a:hover {
  background-color: #eee;
  border-radius: 4px;
}
.mobileLinks .dropdownMenu .toggleButton:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}
.mobileLinks .dropdownMenu .toggleButton:checked + .hamburger .top {
  transform: translateY(8px) rotate(45deg);
}
.mobileLinks .dropdownMenu .toggleButton:checked + .hamburger .mid {
  opacity: 0;
}
.mobileLinks .dropdownMenu .toggleButton:checked + .hamburger .bot {
  transform: translateY(-8px) rotate(-45deg);
}

.productInner .suggestedProducts .item, .productInner .productGallary, .productInner .productInclaudes, .productInner .productFeatures, .productInner section {
  margin-bottom: 5rem;
}

.homePage .featuredProducts, .categories {
  padding: 2rem 1rem;
}

.descrbtion {
  margin-bottom: 6rem;
  padding: 0 1rem;
}
.descrbtion img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.descrbtion h3 {
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.0533, 2.4rem);
  margin-bottom: 2rem;
  color: #000;
}
.descrbtion h3 span {
  color: #d87d4a;
}
.descrbtion p {
  color: #979797;
  font-weight: 600;
  line-height: 1.75;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.05033, 1.5rem);
}

a, button:not(aside button, .items button, header button) {
  padding: 1rem 2rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.035, 1.2rem);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
a.btnOrange, button:not(aside button, .items button, header button).btnOrange {
  background-color: #d87d4a;
  color: #fff;
  border: none;
}
a.btnOrange:hover, button:not(aside button, .items button, header button).btnOrange:hover {
  background-color: #fbaf85;
}
a.btnDarkGrey, button:not(aside button, .items button, header button).btnDarkGrey {
  color: #979797;
  font-weight: 600;
}
a.btnDarkGrey:hover, button:not(aside button, .items button, header button).btnDarkGrey:hover {
  color: #eeeeee;
}
a.btnBlack, button:not(aside button, .items button, header button).btnBlack {
  background-color: #000;
  color: #fff;
}
a.btnBlack:hover, button:not(aside button, .items button, header button).btnBlack:hover {
  background-color: #101010;
}
a.btnTransparent, button:not(aside button, .items button, header button).btnTransparent {
  background-color: transparent;
  color: #101010;
  border: 2px solid #000;
  font-weight: 800;
}
a.btnTransparent:hover, button:not(aside button, .items button, header button).btnTransparent:hover {
  background-color: #000;
  color: #fff;
}
a.backBtn, button:not(aside button, .items button, header button).backBtn {
  background-color: transparent;
  padding: 0;
  color: #979797;
  border: none;
}
a.backBtn:hover, button:not(aside button, .items button, header button).backBtn:hover {
  text-decoration: underline;
}

.categories div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 6rem 0;
  border-radius: 10px;
  position: relative;
  padding-top: 6rem;
}
.categories div .productImage {
  position: absolute;
  transform: translate(-50%, -90%);
  width: 45%;
  height: 100%;
  z-index: 1;
}
.categories div span {
  font-weight: 600;
  color: #101010;
  font-size: 1.25rem;
}
.categories div a {
  padding: 0;
  margin: 1rem;
}
.categories div a:hover {
  color: #d87d4a;
}
.categories div .arrow {
  margin-left: 0.5rem;
}

.productInner .suggestedProducts .item, .productInner .productGallary, .productInner .productInclaudes, .productInner .productFeatures, .productInner section {
  margin-bottom: 5rem;
}

.homePage .featuredProducts, .categories {
  padding: 2rem 1rem;
}

.cartOverlay {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
}
.cartOverlay::before {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.cartOverlay .cartContainer {
  max-height: 70vh;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  padding: 2rem;
  width: 90%;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.cartOverlay .cartContainer .cartHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.cartOverlay .cartContainer .cartHeader span {
  color: #000;
  font-weight: 800;
  font-size: clamp(1.25rem, 1.25rem + (100vw - 360px) * 0.0666, 1.75rem);
  color: #101010;
}
.cartOverlay .cartContainer .cartHeader button {
  background-color: transparent;
  border: none;
  color: #b9b9b9;
  text-decoration: underline;
  transition: 0.3s;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0466, 1.35rem);
  cursor: pointer;
}
.cartOverlay .cartContainer .cartHeader button:hover {
  color: #d87d4a;
}
.cartOverlay .cartContainer .cartBody .cartEmpty {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  text-align: center;
}
.cartOverlay .cartContainer .cartBody .cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails {
  display: flex;
  align-items: center;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails img {
  border-radius: 5px;
  width: clamp(64px, 64px + (100vw - 360px) * 0.2166, 90px);
  height: clamp(64px, 64px + (100vw - 360px) * 0.2166, 90px);
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails .details {
  margin-left: 0.5rem;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails .details span {
  color: #101010;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0533, 1.4rem);
  font-weight: 800;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails .details p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  font-weight: 600;
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn {
  background-color: #eeeeee;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(0.8rem, 0.8rem + (100vw - 360px) * 0.0266, 1rem);
  font-weight: 800;
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn span {
  background-color: inherit;
  text-align: center;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1rem) clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0333, 0.75rem);
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn button {
  border: none;
  background-color: #eeeeee;
  transition: 0.3s;
  color: #101010;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1rem) clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 1.5rem);
  cursor: pointer;
  font-size: clamp(0.8rem, 0.8rem + (100vw - 360px) * 0.0266, 1rem);
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn button:hover {
  background-color: #b9b9b9;
  color: #d87d4a;
}
.cartOverlay .cartContainer .cartBody .totalPrice {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.cartOverlay .cartContainer .cartBody .totalPrice p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
}
.cartOverlay .cartContainer .cartBody .totalPrice span {
  color: #101010;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 1.5rem);
  font-weight: 800;
}
.cartOverlay .cartContainer .cartBody a {
  display: block;
  width: 100%;
}

header {
  background-color: #101010;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #4c4c4c;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 45%;
  height: auto;
}
header nav button {
  border: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}
header nav button img {
  width: 100%;
  height: 100%;
  position: relative !important;
}
header nav button p {
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: #d87d4a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
}

footer {
  background-color: #101010;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  position: relative;
  text-align: center;
}
footer .logo, footer ul, footer p, footer strong {
  margin-bottom: 3rem;
}
footer .logo {
  width: 45%;
  height: auto;
}
footer::before {
  content: "";
  position: absolute;
  background-color: #d87d4a;
  width: 25%;
  height: 4px;
  top: 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer ul a {
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.03333, 1.28rem);
  color: #eeeeee;
  font-weight: 600;
  padding: 0;
  letter-spacing: 2px;
}
footer ul a:hover {
  color: #d87d4a;
}
footer p {
  color: #979797;
  font-size: clamp(0.925rem, 0.925rem + (100vw - 360px) * 0.04733, 1.28rem);
  line-height: 2.5rem;
  line-height: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.1333, 2.5rem);
}
footer strong {
  color: #b9b9b9;
  opacity: 0.75;
  font-size: clamp(0.925rem, 0.925rem + (100vw - 360px) * 0.04733, 1.28rem);
}
footer .socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 32.5%;
  margin-bottom: 0;
}
footer .socialIcons a:hover {
  color: #d87d4a;
}

.earphonesPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.earphonesPage h1 {
  background-color: #101010;
  color: #fff;
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.1, 2.75rem);
  padding: 2rem;
}
.earphonesPage .productContainer {
  display: flex;
  padding: 4rem 2rem 2rem;
  flex-direction: column;
}
.earphonesPage .productContainer .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.earphonesPage .productContainer .productDetails {
  padding: 1rem 0;
}
.earphonesPage .productContainer .productDetails span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.0333, 0.875rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.05, 1.25rem);
}
.earphonesPage .productContainer .productDetails h2 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.08, 2.35rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.earphonesPage .productContainer .productDetails p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  margin-bottom: 3rem;
}
.earphonesPage .productContainer:last-of-type {
  margin-bottom: 2rem;
}

.speakerPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.speakerPage h1 {
  background-color: #101010;
  color: #fff;
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.1, 2.75rem);
  padding: 2rem;
}
.speakerPage .productContainer {
  display: flex;
  padding: 4rem 2rem 2rem;
  flex-direction: column;
}
.speakerPage .productContainer .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.speakerPage .productContainer .productDetails {
  padding: 1rem 0;
}
.speakerPage .productContainer .productDetails span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.0333, 0.875rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.05, 1.25rem);
}
.speakerPage .productContainer .productDetails h2 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.08, 2.35rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.speakerPage .productContainer .productDetails p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  margin-bottom: 3rem;
}
.speakerPage .productContainer:last-of-type {
  margin-bottom: 2rem;
}

.headphonesPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.headphonesPage h1 {
  background-color: #101010;
  color: #fff;
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.1, 2.75rem);
  padding: 2rem;
}
.headphonesPage .productContainer {
  display: flex;
  padding: 4rem 2rem 2rem;
  flex-direction: column;
}
.headphonesPage .productContainer .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.headphonesPage .productContainer .productDetails {
  padding: 1rem 0;
}
.headphonesPage .productContainer .productDetails span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.0333, 0.875rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.05, 1.25rem);
}
.headphonesPage .productContainer .productDetails h2 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.08, 2.35rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
.headphonesPage .productContainer .productDetails p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  margin-bottom: 3rem;
}
.headphonesPage .productContainer:last-of-type {
  margin-bottom: 2rem;
}

.productInner {
  padding: 1.5rem;
}
.productInner section .imageContainer {
  margin: 2rem 0;
}
.productInner section .imageContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.productInner section .details .newProduct {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.0333, 0.875rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.05, 1.25rem);
}
.productInner section .details h1 {
  text-transform: uppercase;
  color: #101010;
  font-size: clamp(1.82rem, 1.82rem + (100vw - 360px) * 0.1, 2.57rem);
  margin: 1.5rem 0;
}
.productInner section .details p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  font-weight: 400;
}
.productInner section .details .price {
  display: block;
  margin: 1.5rem 0;
  font-weight: 600;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.08, 1.6rem);
}
.productInner section .details .price span {
  margin-left: 0.25rem;
}
.productInner section .details .quantityButton {
  background-color: #eeeeee;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(0.8rem, 0.8rem + (100vw - 360px) * 0.0266, 1rem);
  font-weight: 800;
}
.productInner section .details .quantityButton span {
  background-color: inherit;
  text-align: center;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1rem) clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0333, 0.75rem);
}
.productInner section .details .quantityButton button {
  border: none;
  background-color: #eeeeee;
  transition: 0.3s;
  color: #101010;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1rem) clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 1.5rem);
  cursor: pointer;
  font-size: clamp(0.8rem, 0.8rem + (100vw - 360px) * 0.0266, 1rem);
}
.productInner section .details .quantityButton button:hover {
  background-color: #b9b9b9;
  color: #d87d4a;
}
.productInner .productFeatures h2 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0866, 2.15rem);
  margin-bottom: 2rem;
}
.productInner .productFeatures p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  white-space: pre-line;
}
.productInner .productInclaudes h3 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0583, 1.9375rem);
  margin-bottom: 2rem;
}
.productInner .productInclaudes span {
  color: #d87d4a;
  display: block;
  margin-bottom: 0.25rem;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.05, 1.25rem);
  font-weight: 600;
}
.productInner .productInclaudes span p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  display: inline;
  margin-left: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1rem);
  font-weight: 400;
}
.productInner .productGallary {
  display: grid;
  grid-template-rows: repeat(3, 25% 25% 50%-3rem);
  gap: 1rem;
}
.productInner .productGallary img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.productInner .suggestedProducts {
  text-align: center;
}
.productInner .suggestedProducts h4 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.1, 2.25rem);
  margin-bottom: 2rem;
}
.productInner .suggestedProducts .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.productInner .suggestedProducts .item h5 {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0666, 2rem);
  color: #101010;
  margin: 2rem 0 3rem;
}

.checkoutPage {
  padding: 1.5rem;
  background-color: rgb(241, 241, 241);
  position: relative;
}
.checkoutPage .checkoutContainer {
  margin-top: 1.5rem;
  display: grid;
  gap: 2rem;
}
.checkoutPage .checkoutContainer section {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
}
.checkoutPage .checkoutContainer .checkout {
  display: grid;
}
.checkoutPage .checkoutContainer .checkout h1 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.1133, 2.6rem);
}
.checkoutPage .checkoutContainer .checkout span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.0333, 0.875rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.05, 1.25rem);
  letter-spacing: normal;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.9px;
}
.checkoutPage .checkoutContainer .checkout label, .checkoutPage .checkoutContainer .checkout strong {
  display: block;
  font-size: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0466, 1.1rem);
  color: #101010;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.checkoutPage .checkoutContainer .checkout input {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  margin-bottom: 1rem;
}
.checkoutPage .checkoutContainer .checkout input::-moz-placeholder {
  font-weight: 600;
  font-size: 13.25px;
  font-size: 14.5px;
  font-size: clamp(13.25px, 13.25px + (100vw - 360px) * 0.010416, 14.5px);
  color: #979797;
}
.checkoutPage .checkoutContainer .checkout input::placeholder {
  font-weight: 600;
  font-size: 13.25px;
  font-size: 14.5px;
  font-size: clamp(13.25px, 13.25px + (100vw - 360px) * 0.010416, 14.5px);
  color: #979797;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  margin-bottom: 1rem;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod input, .checkoutPage .checkoutContainer .checkout .paymentMethod label {
  margin: 0;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod label {
  margin-left: 1rem;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod input {
  accent-color: #d87d4a;
  width: 1.25rem;
  transform: scale(1.3);
}
.checkoutPage .checkoutContainer .checkout .description {
  display: grid;
  gap: 1rem;
}
.checkoutPage .checkoutContainer .checkout .description p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.06033, 1.39rem);
}
.checkoutPage .checkoutContainer .summary {
  display: flex;
  flex-direction: column;
}
.checkoutPage .checkoutContainer .summary h2 {
  margin-bottom: 2rem;
  font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0766, 1.7rem);
  letter-spacing: 1px;
}
.checkoutPage .checkoutContainer .summary div {
  display: flex;
  justify-content: space-between;
}
.checkoutPage .checkoutContainer .summary div.product {
  align-items: center;
  font-weight: 800;
  margin-bottom: 1rem;
}
.checkoutPage .checkoutContainer .summary div.product .details {
  display: grid;
  align-content: space-evenly;
  margin-left: 1.5rem;
}
.checkoutPage .checkoutContainer .summary div.product img {
  border-radius: 10%;
  width: clamp(64px, 64px + (100vw - 360px) * 0.2166, 90px);
  height: clamp(64px, 64px + (100vw - 360px) * 0.2166, 90px);
}
.checkoutPage .checkoutContainer .summary div p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.0616, 1.4rem);
  line-height: 3rem;
}
.checkoutPage .checkoutContainer .summary div span {
  color: #101010;
  font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.03666, 1.4rem);
  font-weight: 800;
}
.checkoutPage .checkoutContainer .summary div.grandTotal {
  margin: 1.5rem 0;
}
.checkoutPage .checkoutContainer .summary div.grandTotal span {
  color: #d87d4a;
}
.checkoutPage .checkoutContainer .summary div button.btnOrange {
  display: block;
  width: 100%;
  font-weight: 800;
}

.confirmationOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.confirmationOverlay::before {
  content: "";
  background-color: black;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.confirmationOverlay .confirmation {
  width: 80%;
  max-height: 90vh;
  background-color: #fff;
  z-index: 999;
  padding: 2rem;
  border-radius: 10px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.confirmationOverlay .confirmation .icon {
  margin-bottom: 1.5rem;
}
.confirmationOverlay .confirmation h3 {
  font-size: 1.5rem;
  line-height: 1.15;
  margin-bottom: 1.125rem;
}
.confirmationOverlay .confirmation a {
  display: block;
}
.confirmationOverlay .confirmation p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04833, 1.3rem);
  line-height: 1.66;
}
.confirmationOverlay .confirmation .grandTotal {
  background-color: #101010;
  padding: 1.125rem 1.5rem;
  margin-bottom: 1.125rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.confirmationOverlay .confirmation .grandTotal span {
  color: #fff;
  font-weight: 800;
}
.confirmationOverlay .confirmation .items {
  background-color: #f1f1f1;
  padding: 1.125rem 1.5rem;
  margin-top: 1.125rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.confirmationOverlay .confirmation .items .item {
  text-align: initial;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
}
.confirmationOverlay .confirmation .items .item .details {
  display: flex;
  align-items: center;
}
.confirmationOverlay .confirmation .items button {
  background-color: transparent;
  border: none;
  color: #b9b9b9;
  text-decoration: underline;
  transition: 0.2s;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
.confirmationOverlay .confirmation .items button:hover {
  color: #d87d4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.homePage {
  text-align: center;
}
.homePage .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.homePage .hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 4rem;
  height: 85vh;
}
.homePage .hero span {
  color: #979797;
  letter-spacing: clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0566, 1rem);
  font-size: clamp(0.9rem, 0.9rem + (100vw - 360px) * 0.0133, 1rem);
  margin: 1rem 0 1rem;
}
.homePage .hero h1 {
  color: #fff;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  line-height: clamp(2.75rem, 2.75rem + (100vw - 360px) * 0.1, 3.5rem);
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.1333, 3rem);
}
.homePage .hero p {
  color: #b9b9b9;
  margin-bottom: 2rem;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0333, 1.25rem);
}
.homePage .featuredProducts div {
  margin-bottom: 2rem;
}
.homePage .featuredProducts .ZX9-Product {
  position: relative;
  border-radius: 10px;
  background-color: #d87d4a;
  display: grid;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-size: cover;
  background-position: center clamp(-160px, -33vw, -120px);
  background-size: 170%;
  background-repeat: no-repeat;
  background-color: #d87d4a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.homePage .featuredProducts .ZX9-Product .image {
  align-self: center;
  width: 50%;
  width: 70%;
  height: auto;
  width: clamp(50%, 45vw, 75%);
  margin-top: clamp(3rem, 13.3vw, 4rem);
  margin-bottom: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.2666, 3.75rem);
}
.homePage .featuredProducts .ZX9-Product h2 {
  color: #fff;
  font-size: clamp(2.5rem, 2.5rem + (100vw - 360px) * 0.1333, 3.5rem);
  padding: 0 3rem;
  line-height: 2.75rem;
  line-height: clamp(2.75rem, 2.75rem + (100vw - 360px) * 0.1333, 3.75rem);
}
.homePage .featuredProducts .ZX9-Product p {
  margin: 1rem 0 2rem;
  line-height: clamp(1.6rem, 1.6rem + (100vw - 360px) * 0.0866, 2.25rem);
  color: #fff;
  opacity: 0.75;
  font-size: clamp(0.9rem, 1rem + (100vw - 360px) * 0.04666, 1.35rem);
}
.homePage .featuredProducts .ZX9-Product a {
  margin-bottom: 4rem;
}
.homePage .ZX7-Product {
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.homePage .ZX7-Product .details {
  text-align: left;
  padding: 7rem 0;
  padding-left: 1.5rem;
}
.homePage .ZX7-Product .details h2 {
  margin-bottom: 2rem;
  color: #101010;
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.1, 2.5rem);
  letter-spacing: 1px;
}
.homePage .YX1-Product {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.homePage .YX1-Product img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.homePage .YX1-Product .details {
  background-color: #eeeeee;
  border-radius: 10px;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.homePage .YX1-Product .details h2 {
  font-size: clamp(2em, 2rem + (100vw - 360px) * 0.0666, 2.5rem);
  letter-spacing: 1px;
}/*# sourceMappingURL=main.css.map */