.mobileLinks {
  position: relative;
  z-index: 10;
  width: 1.5rem;
}
.mobileLinks .dropdownMenu {
  position: relative;
}
.mobileLinks .dropdownMenu .toggleButton {
  display: none;
  background-color: rgb(153, 51, 73);
}
.mobileLinks .dropdownMenu .hamburger {
  width: 30px;
  height: 22px;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.mobileLinks .dropdownMenu .hamburger div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
  transition: 0.3s;
}
@media (min-width: 600px) {
  .mobileLinks .dropdownMenu .hamburger div {
    width: 90%;
  }
}
.mobileLinks .dropdownMenu .menu {
  position: absolute;
  top: 40px;
  left: 0;
  transform: translate(100%, 7.5%);
  background-color: #fff;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.mobileLinks .dropdownMenu .menu a {
  text-align: left;
  padding: 8px 12px;
  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  font-weight: 400;
}
.mobileLinks .dropdownMenu .menu a:hover {
  background-color: #eee;
  border-radius: 4px;
}
.mobileLinks .dropdownMenu .toggleButton:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}
.mobileLinks .dropdownMenu .toggleButton:checked + .hamburger .top {
  transform: translateY(8px) rotate(45deg);
}
.mobileLinks .dropdownMenu .toggleButton:checked + .hamburger .mid {
  opacity: 0;
}
.mobileLinks .dropdownMenu .toggleButton:checked + .hamburger .bot {
  transform: translateY(-8px) rotate(-45deg);
}

.productInner .suggestedProducts .items .item, .productInner .productGallary, .productInner .productInclaudes, .productInner .productFeatures, .productInner section {
  margin-bottom: clamp(5rem, 5rem + (100vw - 360px) * 0.1333, 7rem);
}

footer {
  padding: 2rem 2rem;
}

.homePage .categories,
.homePage .description, .homePage .featuredProducts, .productInner, .headphonesPage .productsContainer, .speakerPage .productsContainer, .earphonesPage .productsContainer, .categories, .description {
  padding: 0 clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem);
}
@media (min-width: 600px) {
  .homePage .categories,
  .homePage .description, .homePage .featuredProducts, .productInner, .headphonesPage .productsContainer, .speakerPage .productsContainer, .earphonesPage .productsContainer, .categories, .description {
    padding: 0 clamp(2rem, 2rem + (100vw - 600px) * 0.03773, 3rem);
  }
}

.description {
  text-align: center;
  margin-top: clamp(5rem, 5rem + (100vw - 360px) * 0.2666, 9rem);
}
@media (min-width: 600px) {
  .description {
    margin-top: 9rem;
    margin-top: 0rem;
  }
}
.description img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: clamp(2rem, 2rem + (100vw - 600px) * 0.037735, 3rem);
}
.description h3 {
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.0666, 3rem);
  margin-bottom: clamp(2rem, 2rem + (100vw - 360px) * 0.0666, 3rem);
  color: #000;
}
@media (min-width: 600px) {
  .description h3 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.066037, 4.25rem);
    letter-spacing: 1px;
    margin-bottom: clamp(2rem, 2rem + (100vw - 600px) * 0.037735, 3rem);
    font-weight: 800;
  }
}
.description h3 span {
  color: #d87d4a;
}
.description p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
}
@media (min-width: 600px) {
  .description p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}

a, button:not(aside button, .items button, header button) {
  padding: clamp(1rem, 1rem + (100vw - 360px) * 0.0333, 1.5rem) clamp(2rem, 2rem + (100vw - 360px) * 0.1, 3.5rem);
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.0275, 1.35rem);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 600px) {
  a, button:not(aside button, .items button, header button) {
    font-size: clamp(0.8125rem, 0.8125rem + (100vw - 600px) * 0.0259433, 1.5rem);
    padding: clamp(15px, 15px + (100vw - 600px) * 0.0117924, 20px) clamp(30px, 30px + (100vw - 600px) * 0.0353773, 45px);
  }
}
a.btnOrange, button:not(aside button, .items button, header button).btnOrange {
  background-color: #d87d4a;
  color: #fff;
  border: none;
}
a.btnOrange:hover, button:not(aside button, .items button, header button).btnOrange:hover {
  background-color: #fbaf85;
}
a.btnDarkGrey, button:not(aside button, .items button, header button).btnDarkGrey {
  color: #979797;
  font-weight: 600;
}
a.btnDarkGrey:hover, button:not(aside button, .items button, header button).btnDarkGrey:hover {
  color: #eeeeee;
}
a.btnBlack, button:not(aside button, .items button, header button).btnBlack {
  background-color: #000;
  color: #fff;
}
a.btnBlack:hover, button:not(aside button, .items button, header button).btnBlack:hover {
  background-color: #101010;
}
a.btnTransparent, button:not(aside button, .items button, header button).btnTransparent {
  background-color: transparent;
  color: #101010;
  border: 2px solid #000;
  font-weight: 800;
}
a.btnTransparent:hover, button:not(aside button, .items button, header button).btnTransparent:hover {
  background-color: #000;
  color: #fff;
}
a.backBtn, button:not(aside button, .items button, header button).backBtn {
  background-color: transparent;
  padding: 0;
  color: #979797;
  border: none;
}
a.backBtn:hover, button:not(aside button, .items button, header button).backBtn:hover {
  text-decoration: underline;
}

.categories {
  margin-bottom: clamp(5rem, 5rem + (100vw - 360px) * 0.1333, 7rem);
  margin-top: clamp(5rem, 5rem + (100vw - 360px) * 0.2666, 9rem);
}
@media (min-width: 600px) {
  .categories {
    display: flex;
    gap: 0.75rem;
    margin: 0;
  }
}
.categories div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
  margin: clamp(6rem, 6rem + (100vw - 360px) * 0.0666, 7rem) 0;
  border-radius: 10px;
  position: relative;
  padding-top: 6rem;
  flex: 1;
}
.categories div .productImage {
  position: absolute;
  transform: translate(-50%, -90%);
  width: 45%;
  height: 100%;
  z-index: 1;
}
@media (min-width: 600px) {
  .categories div .productImage {
    width: clamp(70%, 70% + (100vw - 600px) * -0.0235849, 85%);
    height: clamp(70%, 70% + (100vw - 600px) * 0.070754, 100%);
    transform: translate(-50%, clamp(-120%, -120% + (100vw - 600px) * 0.506, -95%));
  }
}
.categories div .categoryName {
  font-weight: 600;
  color: #101010;
  font-size: clamp(1.25rem, 1.25rem + (100vw - 360px) * 0.03, 1.7rem);
}
@media (min-width: 600px) {
  .categories div .categoryName {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0212264, 1.5rem);
    font-weight: 800;
    letter-spacing: 0.5px;
  }
}
.categories div a {
  padding: 0;
  margin: 1rem;
}
.categories div a:hover {
  color: #d87d4a;
}
@media (min-width: 600px) {
  .categories div a {
    font-size: clamp(0.75rem, 0.75rem + (100vw - 600px) * 0.018867, 1.25rem);
  }
}
.categories div .arrow {
  margin-left: 0.5rem;
}

.productInner .suggestedProducts .items .item, .productInner .productGallary, .productInner .productInclaudes, .productInner .productFeatures, .productInner section {
  margin-bottom: clamp(5rem, 5rem + (100vw - 360px) * 0.1333, 7rem);
}

footer {
  padding: 2rem 2rem;
}

.homePage .categories,
.homePage .description, .homePage .featuredProducts, .productInner, .headphonesPage .productsContainer, .speakerPage .productsContainer, .earphonesPage .productsContainer, .description, .categories {
  padding: 0 clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem);
}
@media (min-width: 600px) {
  .homePage .categories,
  .homePage .description, .homePage .featuredProducts, .productInner, .headphonesPage .productsContainer, .speakerPage .productsContainer, .earphonesPage .productsContainer, .description, .categories {
    padding: 0 clamp(2rem, 2rem + (100vw - 600px) * 0.03773, 3rem);
  }
}

.cartOverlay {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
}
.cartOverlay::before {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.cartOverlay .cartContainer {
  max-height: 70vh;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  padding: 2rem;
  width: 90%;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.cartOverlay .cartContainer .cartHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.cartOverlay .cartContainer .cartHeader span {
  color: #000;
  font-weight: 800;
  font-size: clamp(1.25rem, 1.25rem + (100vw - 360px) * 0.0666, 1.75rem);
  color: #101010;
}
.cartOverlay .cartContainer .cartHeader button {
  background-color: transparent;
  border: none;
  color: #b9b9b9;
  text-decoration: underline;
  transition: 0.3s;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0466, 1.35rem);
  cursor: pointer;
}
.cartOverlay .cartContainer .cartHeader button:hover {
  color: #d87d4a;
}
.cartOverlay .cartContainer .cartBody .cartEmpty {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 600px) {
  .cartOverlay .cartContainer .cartBody .cartEmpty {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.cartOverlay .cartContainer .cartBody .cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails {
  display: flex;
  align-items: center;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails img {
  border-radius: 5px;
  width: clamp(64px, 64px + (100vw - 360px) * 0.2166, 90px);
  height: clamp(64px, 64px + (100vw - 360px) * 0.2166, 90px);
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails .details {
  margin-left: 0.5rem;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails .details span {
  color: #101010;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0533, 1.4rem);
  font-weight: 800;
}
.cartOverlay .cartContainer .cartBody .cartItem .productDetails .details p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  font-weight: 600;
}
@media (min-width: 600px) {
  .cartOverlay .cartContainer .cartBody .cartItem .productDetails .details p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn {
  background-color: #eeeeee;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(0.8rem, 0.8rem + (100vw - 360px) * 0.0266, 1.25rem);
  font-weight: 800;
}
@media (min-width: 600px) {
  .cartOverlay .cartContainer .cartBody .cartItem .productBtn {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.021226, 1.5rem);
  }
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn span {
  background-color: inherit;
  text-align: center;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0833, 1.75rem);
}
@media (min-width: 600px) {
  .cartOverlay .cartContainer .cartBody .cartItem .productBtn span {
    padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0833, 1.75rem);
  }
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn button {
  border: none;
  background-color: #eeeeee;
  transition: 0.3s;
  color: #101010;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(1rem, 1rem + (100vw - 360px) * 0.0833, 2.25rem);
  cursor: pointer;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.0275, 1.35rem);
}
@media (min-width: 600px) {
  .cartOverlay .cartContainer .cartBody .cartItem .productBtn button {
    padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(1rem, 1rem + (100vw - 360px) * 0.0833, 2.25rem);
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.025, 1.6rem);
  }
}
.cartOverlay .cartContainer .cartBody .cartItem .productBtn button:hover {
  background-color: #b9b9b9;
  color: #d87d4a;
}
.cartOverlay .cartContainer .cartBody .totalPrice {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.cartOverlay .cartContainer .cartBody .totalPrice p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
}
@media (min-width: 600px) {
  .cartOverlay .cartContainer .cartBody .totalPrice p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.cartOverlay .cartContainer .cartBody .totalPrice span {
  color: #101010;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 1.5rem);
  font-weight: 800;
}
.cartOverlay .cartContainer .cartBody a {
  display: block;
  width: 100%;
}

header {
  background-color: #101010;
  border-bottom: 1px solid #4c4c4c;
}
@media (min-width: 600px) {
  header {
    padding: 2rem clamp(2rem, 2rem + (100vw - 600px) * 0.037735, 3rem);
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  header nav {
    justify-content: flex-start;
  }
}
header nav .logo {
  width: 45%;
  height: auto;
}
@media (min-width: 600px) {
  header nav .logo {
    width: clamp(150px, 150px + (100vw - 600px) * 0.23584, 250px);
    margin-left: 2rem;
  }
}
header nav .cartIconButton {
  border: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-align: center;
}
@media (min-width: 600px) {
  header nav .cartIconButton {
    margin-left: auto;
  }
}
header nav .cartIconButton img {
  width: clamp(23px, 23px + (100vw - 360px) * 0.0625, 38px);
  height: clamp(20px, 20px + (100vw - 360px) * 0.0625, 35px);
  position: relative !important;
}
@media (min-width: 600px) {
  header nav .cartIconButton img {
    width: clamp(23px, 23px + (100vw - 600px) * 0.011792, 28px);
    height: clamp(20px, 20px + (100vw - 600px) * 0.011792, 25px);
  }
}
header nav .cartIconButton p {
  position: absolute;
  top: clamp(-22.5px, -15px + (100vw - 360px) * -0.03125, -15px);
  left: clamp(15px, 15px + (100vw - 360px) * 0.03125, 22.5px);
  background-color: #d87d4a;
  border-radius: 50%;
  font-size: clamp(16px, 16px + (100vw - 360px) * 0.00833, 18px);
  padding: clamp(2px, 2px + (100vw - 360px) * 0.0125, 5px) clamp(8px, 8px + (100vw - 360px) * 0.0125, 11px);
  color: #fff;
}
@media (min-width: 600px) {
  header nav .cartIconButton p {
    padding: 2px 8px;
    font-size: clamp(12px, 12px + (100vw - 600px) * 0.004716, 14px);
    top: -15px;
    left: clamp(15px, 15px + (100vw - 600px) * 0.011792, 20px);
  }
}

footer {
  background-color: #101010;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: clamp(5rem, 5rem + (100vw - 360px) * 0.2666, 9rem);
}
@media (min-width: 600px) {
  footer {
    margin-top: 5rem;
    padding: clamp(3rem, 3rem + (100vw - 600px) * 0.037735, 4rem) clamp(2rem, 2rem + (100vw - 600px) * 0.037735, 3rem);
    align-items: flex-start;
    text-align: left;
  }
}
footer .logo, footer ul, footer p, footer strong {
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  footer .logo, footer ul, footer p, footer strong {
    margin-bottom: 2rem;
  }
}
footer .logo {
  width: 45%;
  height: auto;
}
@media (min-width: 600px) {
  footer .logo {
    width: 20%;
  }
}
footer::before {
  content: "";
  position: absolute;
  background-color: #d87d4a;
  width: 25%;
  height: 4px;
  top: 0;
}
@media (min-width: 600px) {
  footer::before {
    width: 12.5%;
    left: 2rem;
    left: 3rem;
    left: clamp(2rem, 2rem + (100vw - 600px) * 0.037735, 3rem);
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer ul.socialIcons {
  gap: 0;
}
@media (min-width: 600px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul a {
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.03333, 1.5rem);
  color: #eeeeee;
  font-weight: 600;
  padding: 0;
  letter-spacing: 2px;
}
@media (min-width: 600px) {
  footer ul a {
    font-size: clamp(0.6rem, 0.6rem + (100vw - 600px) * 0.018867, 1.1rem);
  }
}
footer ul a:hover {
  color: #d87d4a;
}
footer p {
  color: #979797;
  font-size: clamp(0.925rem, 0.925rem + (100vw - 360px) * 0.045, 1.6rem);
  line-height: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0833, 2.75rem);
}
@media (min-width: 600px) {
  footer p {
    font-size: clamp(0.75rem, 0.75rem + (100vw - 600px) * 0.020754, 1.3rem);
    line-height: clamp(1.25rem, 1.25rem + (100vw - 600px) * 0.0283018, 2rem);
    margin-bottom: clamp(3rem, 3rem + (100vw - 600px) * 0.075471, 5rem);
  }
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  footer div {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}
footer div strong {
  color: #b9b9b9;
  opacity: 0.75;
  font-size: clamp(0.925rem, 0.925rem + (100vw - 360px) * 0.045, 1.6rem);
}
@media (min-width: 600px) {
  footer div strong {
    font-size: clamp(0.75rem, 0.75rem + (100vw - 600px) * 0.0245283, 1.4rem);
    margin-bottom: 0;
  }
}
footer div .socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 32.5%;
  margin-bottom: 0;
}
@media (min-width: 600px) {
  footer div .socialIcons {
    width: auto;
    gap: clamp(0.5rem, 0.5rem + (100vw - 600px) * 0.06603, 2.25rem);
    justify-content: center;
  }
}
footer div .socialIcons a:hover {
  color: #d87d4a;
}

.earphonesPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.earphonesPage h1 {
  background-color: #101010;
  color: #fff;
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.0833, 2.75rem);
  padding: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem);
}
@media (min-width: 600px) {
  .earphonesPage h1 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.075471, 4.5rem);
    padding: clamp(3rem, 3rem + (100vw - 600px) * 0.037735, 4rem);
  }
}
.earphonesPage .productsContainer {
  margin-top: clamp(3rem, 3rem + (100vw - 360px) * 0.2, 6rem);
  display: grid;
  gap: 7rem;
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer {
    margin-top: clamp(6rem, 6rem + (100vw - 600px) * 0.075471, 8rem);
  }
}
.earphonesPage .productsContainer .product {
  display: flex;
  flex-direction: column;
}
.earphonesPage .productsContainer .product .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer .product .productImage img {
    margin: 0;
  }
}
.earphonesPage .productsContainer .product .productDetails {
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer .product .productDetails {
    margin: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.037735, 3.5rem) 0 clamp(1rem, 1rem + (100vw - 600px) * 0.037735, 2rem);
  }
}
.earphonesPage .productsContainer .product .productDetails span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.03166, 1.1rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.025, 1.5rem);
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer .product .productDetails span {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.013679, 1.3rem);
    letter-spacing: clamp(10px, 10px + (100vw - 600px) * 0.023584, 20px);
  }
}
.earphonesPage .productsContainer .product .productDetails h2 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.07916, 2.75rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem clamp(1rem, 1rem + (100vw - 360px) * 0.133, 3rem);
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer .product .productDetails h2 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.066037, 4.25rem);
    margin: 1.5rem 5.75rem;
    line-height: clamp(44px, 44px + (100vw - 600px) * 0.07783, 77px);
    letter-spacing: 1px;
  }
}
.earphonesPage .productsContainer .product .productDetails p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  margin-bottom: clamp(3rem, 3rem + (100vw - 360px) * 0.133, 5rem);
  padding: 0 clamp(0.1rem, 0.1rem + (100vw - 360px) * 0.06, 1rem);
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer .product .productDetails p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
@media (min-width: 600px) {
  .earphonesPage .productsContainer .product .productDetails p {
    margin-bottom: clamp(2rem, 2rem + (100vw - 600px) * 0.075471, 4rem);
    padding: 0;
  }
}
.earphonesPage .productsContainer .product:last-of-type {
  margin-bottom: 2rem;
}
.earphonesPage .categories {
  margin: 0;
}
@media (min-width: 600px) {
  .earphonesPage .categories {
    margin: clamp(1rem, 1rem + (100vw - 600px) * 0.1132075, 4rem) 0;
  }
}
@media (min-width: 600px) {
  .earphonesPage .categories,
  .earphonesPage .description {
    padding: 0;
  }
  .earphonesPage .categories div {
    margin: 0;
  }
}

.speakerPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.speakerPage h1 {
  background-color: #101010;
  color: #fff;
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.0833, 2.75rem);
  padding: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem);
}
@media (min-width: 600px) {
  .speakerPage h1 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.075471, 4.5rem);
    padding: clamp(3rem, 3rem + (100vw - 600px) * 0.037735, 4rem);
  }
}
.speakerPage .productsContainer {
  margin-top: clamp(3rem, 3rem + (100vw - 360px) * 0.2, 6rem);
  display: grid;
  gap: 7rem;
}
@media (min-width: 600px) {
  .speakerPage .productsContainer {
    margin-top: clamp(6rem, 6rem + (100vw - 600px) * 0.075471, 8rem);
  }
}
.speakerPage .productsContainer .product {
  display: flex;
  flex-direction: column;
}
.speakerPage .productsContainer .product .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .speakerPage .productsContainer .product .productImage img {
    margin: 0;
  }
}
.speakerPage .productsContainer .product .productDetails {
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .speakerPage .productsContainer .product .productDetails {
    margin: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.037735, 3.5rem) 0 clamp(1rem, 1rem + (100vw - 600px) * 0.037735, 2rem);
  }
}
.speakerPage .productsContainer .product .productDetails span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.03166, 1.1rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.025, 1.5rem);
}
@media (min-width: 600px) {
  .speakerPage .productsContainer .product .productDetails span {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.013679, 1.3rem);
    letter-spacing: clamp(10px, 10px + (100vw - 600px) * 0.023584, 20px);
  }
}
.speakerPage .productsContainer .product .productDetails h2 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.07916, 2.75rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem clamp(1rem, 1rem + (100vw - 360px) * 0.133, 3rem);
}
@media (min-width: 600px) {
  .speakerPage .productsContainer .product .productDetails h2 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.066037, 4.25rem);
    margin: 1.5rem 5.75rem;
    line-height: clamp(44px, 44px + (100vw - 600px) * 0.07783, 77px);
    letter-spacing: 1px;
  }
}
.speakerPage .productsContainer .product .productDetails p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  margin-bottom: clamp(3rem, 3rem + (100vw - 360px) * 0.133, 5rem);
  padding: 0 clamp(0.1rem, 0.1rem + (100vw - 360px) * 0.06, 1rem);
}
@media (min-width: 600px) {
  .speakerPage .productsContainer .product .productDetails p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
@media (min-width: 600px) {
  .speakerPage .productsContainer .product .productDetails p {
    margin-bottom: clamp(2rem, 2rem + (100vw - 600px) * 0.075471, 4rem);
    padding: 0;
  }
}
.speakerPage .productsContainer .product:last-of-type {
  margin-bottom: 2rem;
}
.speakerPage .categories {
  margin: 0;
}
@media (min-width: 600px) {
  .speakerPage .categories {
    margin: clamp(1rem, 1rem + (100vw - 600px) * 0.1132075, 4rem) 0;
  }
}
@media (min-width: 600px) {
  .speakerPage .categories,
  .speakerPage .description {
    padding: 0;
  }
  .speakerPage .categories div {
    margin: 0;
  }
}

.headphonesPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.headphonesPage h1 {
  background-color: #101010;
  color: #fff;
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.0833, 2.75rem);
  padding: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem);
}
@media (min-width: 600px) {
  .headphonesPage h1 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.075471, 4.5rem);
    padding: clamp(3rem, 3rem + (100vw - 600px) * 0.037735, 4rem);
  }
}
.headphonesPage .productsContainer {
  margin-top: clamp(3rem, 3rem + (100vw - 360px) * 0.2, 6rem);
  display: grid;
  gap: 7rem;
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer {
    margin-top: clamp(6rem, 6rem + (100vw - 600px) * 0.075471, 8rem);
  }
}
.headphonesPage .productsContainer .product {
  display: flex;
  flex-direction: column;
}
.headphonesPage .productsContainer .product .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer .product .productImage img {
    margin: 0;
  }
}
.headphonesPage .productsContainer .product .productDetails {
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer .product .productDetails {
    margin: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.037735, 3.5rem) 0 clamp(1rem, 1rem + (100vw - 600px) * 0.037735, 2rem);
  }
}
.headphonesPage .productsContainer .product .productDetails span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.03166, 1.1rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.025, 1.5rem);
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer .product .productDetails span {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.013679, 1.3rem);
    letter-spacing: clamp(10px, 10px + (100vw - 600px) * 0.023584, 20px);
  }
}
.headphonesPage .productsContainer .product .productDetails h2 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.07916, 2.75rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem clamp(1rem, 1rem + (100vw - 360px) * 0.133, 3rem);
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer .product .productDetails h2 {
    font-size: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.066037, 4.25rem);
    margin: 1.5rem 5.75rem;
    line-height: clamp(44px, 44px + (100vw - 600px) * 0.07783, 77px);
    letter-spacing: 1px;
  }
}
.headphonesPage .productsContainer .product .productDetails p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  margin-bottom: clamp(3rem, 3rem + (100vw - 360px) * 0.133, 5rem);
  padding: 0 clamp(0.1rem, 0.1rem + (100vw - 360px) * 0.06, 1rem);
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer .product .productDetails p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
@media (min-width: 600px) {
  .headphonesPage .productsContainer .product .productDetails p {
    margin-bottom: clamp(2rem, 2rem + (100vw - 600px) * 0.075471, 4rem);
    padding: 0;
  }
}
.headphonesPage .productsContainer .product:last-of-type {
  margin-bottom: 2rem;
}
.headphonesPage .categories {
  margin: 0;
}
@media (min-width: 600px) {
  .headphonesPage .categories {
    margin: clamp(1rem, 1rem + (100vw - 600px) * 0.1132075, 4rem) 0;
  }
}
@media (min-width: 600px) {
  .headphonesPage .categories,
  .headphonesPage .description {
    padding: 0;
  }
  .headphonesPage .categories div {
    margin: 0;
  }
}

.productInner {
  margin: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem) 0;
}
@media (min-width: 600px) {
  .productInner {
    margin: 2.5rem 0;
  }
  .productInner a.backBtn {
    font-size: 0.9375rem;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .productInner a.backBtn {
    font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.004716, 1.125rem);
  }
}
@media (min-width: 600px) {
  .productInner section {
    display: grid;
    grid-template-columns: 37.5% 55%;
    gap: 7.5%;
    margin-top: 2rem;
  }
}
.productInner section .imageContainer {
  margin: 2rem 0;
}
@media (min-width: 600px) {
  .productInner section .imageContainer {
    margin: 0;
    height: 85%;
    align-self: center;
  }
}
.productInner section .imageContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .productInner section .imageContainer img {
    margin: 0;
  }
}
.productInner section .details .newProduct {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.03166, 1.1rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.025, 1.5rem);
}
@media (min-width: 600px) {
  .productInner section .details .newProduct {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.013679, 1.3rem);
    letter-spacing: clamp(10px, 10px + (100vw - 600px) * 0.023584, 20px);
  }
}
.productInner section .details h1 {
  text-transform: uppercase;
  color: #101010;
  font-size: clamp(1.82rem, 1.82rem + (100vw - 360px) * 0.0986, 3.3rem);
  margin: 1.5rem 0;
}
@media (min-width: 600px) {
  .productInner section .details h1 {
    font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.037735, 3rem);
    letter-spacing: 1px;
    line-height: 3.5rem;
  }
}
.productInner section .details p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  font-weight: 400;
}
@media (min-width: 600px) {
  .productInner section .details p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.productInner section .details .price {
  display: block;
  margin: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0666, 2.5rem) 0;
  font-weight: 600;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 2rem);
}
@media (min-width: 600px) {
  .productInner section .details .price {
    font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0330188, 2rem);
    margin: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.042452, 2.25rem) 0;
  }
}
.productInner section .details .price span {
  margin-left: 0.25rem;
}
.productInner section .details .quantityButton {
  background-color: #eeeeee;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(0.8rem, 0.8rem + (100vw - 360px) * 0.0266, 1.25rem);
  font-weight: 800;
}
@media (min-width: 600px) {
  .productInner section .details .quantityButton {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.021226, 1.5rem);
  }
}
.productInner section .details .quantityButton span {
  background-color: inherit;
  text-align: center;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0833, 1.75rem);
}
@media (min-width: 600px) {
  .productInner section .details .quantityButton span {
    padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0833, 1.75rem);
  }
}
.productInner section .details .quantityButton button {
  border: none;
  background-color: #eeeeee;
  transition: 0.3s;
  color: #101010;
  padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(1rem, 1rem + (100vw - 360px) * 0.0833, 2.25rem);
  cursor: pointer;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.0275, 1.35rem);
}
@media (min-width: 600px) {
  .productInner section .details .quantityButton button {
    padding: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem) clamp(1rem, 1rem + (100vw - 360px) * 0.0833, 2.25rem);
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.025, 1.6rem);
  }
}
.productInner section .details .quantityButton button:hover {
  background-color: #b9b9b9;
  color: #d87d4a;
}
.productInner .productFeatures h2 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0833, 2.75rem);
  margin-bottom: clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 2rem);
}
@media (min-width: 600px) {
  .productInner .productFeatures h2 {
    font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.056603, 3.5rem);
    letter-spacing: 1px;
    margin-bottom: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.037735, 2.5rem);
  }
}
.productInner .productFeatures p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  white-space: pre-line;
}
@media (min-width: 600px) {
  .productInner .productFeatures p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
@media (min-width: 600px) {
  .productInner .productInclaudes {
    display: flex;
  }
}
.productInner .productInclaudes h3 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0666, 2.5rem);
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .productInner .productInclaudes h3 {
    font-size: clamp(2rem, 2rem + (100vw - 600px) * 0.056603, 3.5rem);
    letter-spacing: 0.5px;
  }
}
.productInner .productInclaudes span {
  color: #d87d4a;
  display: block;
  margin-bottom: 0.25rem;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0333, 1.5rem);
  font-weight: 600;
}
@media (min-width: 600px) {
  .productInner .productInclaudes span {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.023584, 25px);
    margin-left: clamp(5.25rem, 5.25rem + (100vw - 600px) * 0.150943, 9.25rem);
  }
}
.productInner .productInclaudes span p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  display: inline;
  margin-left: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.05, 1.5rem);
  font-weight: 400;
}
@media (min-width: 600px) {
  .productInner .productInclaudes span p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.productInner .productGallary {
  display: grid;
  grid-template-rows: repeat(3, 25% 25% 50%-3rem);
  gap: 1rem;
}
@media (min-width: 600px) {
  .productInner .productGallary {
    grid-template-columns: 40% 57%;
    grid-template-rows: auto auto;
    gap: 1rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .productInner .productGallary div {
    width: 100%;
    height: 100%;
  }
  .productInner .productGallary div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .productInner .productGallary .second {
    grid-row: 2;
    grid-column: 1;
  }
  .productInner .productGallary .third {
    grid-row: span 2;
    grid-column: 2;
  }
}
.productInner .suggestedProducts {
  text-align: center;
  margin-bottom: 10rem;
}
.productInner .suggestedProducts h4 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.08333, 2.75rem);
  margin-bottom: clamp(2rem, 2rem + (100vw - 360px) * 0.0666, 3rem);
}
@media (min-width: 600px) {
  .productInner .suggestedProducts h4 {
    font-size: clamp(2.125rem, 2.125rem + (100vw - 600px) * 0.099056, 3.75rem);
    margin-bottom: clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.037735, 3.5rem);
  }
}
@media (min-width: 600px) {
  .productInner .suggestedProducts .items {
    display: flex;
    gap: 0.75rem;
  }
}
@media (min-width: 600px) {
  .productInner .suggestedProducts .items .item {
    display: grid;
    height: 100%;
    margin-bottom: 0;
    justify-items: center;
  }
}
.productInner .suggestedProducts .items .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.productInner .suggestedProducts .items .item h5 {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.08333, 2.75rem);
  color: #101010;
  margin: 2rem 0 3rem;
}
@media (min-width: 600px) {
  .productInner .suggestedProducts .items .item h5 {
    font-size: clamp(1.5rem, 1.5rem + (100vw - 600px) * 0.047169, 2.75rem);
  }
}
@media (min-width: 600px) {
  .productInner .suggestedProducts .items .item a {
    width: 95%;
  }
}
@media (min-width: 600px) {
  .productInner .description,
  .productInner .categories {
    padding: 0;
  }
  .productInner .description div,
  .productInner .categories div {
    margin: 0;
  }
}
.productInner .description {
  margin: 0;
}

.checkoutPage {
  padding: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.0333, 2rem);
  background-color: rgb(241, 241, 241);
  position: relative;
}
.checkoutPage .backBtn {
  font-weight: 400;
}
.checkoutPage .checkoutContainer {
  margin-top: 1.5rem;
  display: grid;
  gap: 2rem;
}
.checkoutPage .checkoutContainer section {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.checkoutPage .checkoutContainer .checkout {
  display: grid;
}
.checkoutPage .checkoutContainer .checkout h1 {
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.0666, 2.75rem);
}
.checkoutPage .checkoutContainer .checkout span {
  color: #d87d4a;
  letter-spacing: clamp(0.625rem, 0.625rem + (100vw - 360px) * 0.03166, 1.1rem);
  font-size: clamp(0.875rem, 0.875rem + (100vw - 360px) * 0.025, 1.5rem);
  letter-spacing: normal;
  font-weight: 800;
  margin-top: 2rem;
  letter-spacing: 0.9px;
}
@media (min-width: 600px) {
  .checkoutPage .checkoutContainer .checkout span {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.013679, 1.3rem);
    letter-spacing: clamp(10px, 10px + (100vw - 600px) * 0.023584, 20px);
  }
}
.checkoutPage .checkoutContainer .checkout label, .checkoutPage .checkoutContainer .checkout strong {
  display: block;
  font-size: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0266, 1.15rem);
  color: #101010;
  font-weight: 800;
  margin-bottom: clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0333, 1rem);
  margin-top: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1.25rem);
}
.checkoutPage .checkoutContainer .checkout input {
  padding: clamp(1rem, 1rem + (100vw - 360px) * 0.0333, 1.5rem);
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  margin-bottom: 1rem;
}
.checkoutPage .checkoutContainer .checkout input::-moz-placeholder {
  font-weight: 600;
  font-size: clamp(13.25px, 13.25px + (100vw - 360px) * 0.0177083, 17.5px);
  color: #979797;
}
.checkoutPage .checkoutContainer .checkout input::placeholder {
  font-weight: 600;
  font-size: clamp(13.25px, 13.25px + (100vw - 360px) * 0.0177083, 17.5px);
  color: #979797;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  margin-bottom: 1rem;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod input, .checkoutPage .checkoutContainer .checkout .paymentMethod label {
  margin: 0;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod label {
  margin-left: 1rem;
}
.checkoutPage .checkoutContainer .checkout .paymentMethod input {
  accent-color: #d87d4a;
  width: 1.25rem;
  transform: scale(1.3);
}
.checkoutPage .checkoutContainer .checkout .cashDescription {
  display: grid;
  gap: 1rem;
}
.checkoutPage .checkoutContainer .checkout .cashDescription img {
  width: clamp(48px, 48px + (100vw - 360px) * 0.01125, 75px);
  height: clamp(48px, 48px + (100vw - 360px) * 0.01125, 75px);
  margin: 1.5rem 0 1rem;
}
.checkoutPage .checkoutContainer .checkout .cashDescription p {
  color: #979797;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.04416, 1.6rem);
}
.checkoutPage .checkoutContainer .checkout .emoneyDescription {
  display: flex;
  flex-direction: column;
}
.checkoutPage .checkoutContainer .checkout .emoneyDescription label {
  margin-top: clamp(0.75rem, 0.75rem + (100vw - 360px) * 0.0333, 1.25rem);
}
.checkoutPage .checkoutContainer .summary {
  display: flex;
  flex-direction: column;
}
.checkoutPage .checkoutContainer .summary h2 {
  margin-bottom: clamp(2rem, 2rem + (100vw - 360px) * 0.0666, 3rem);
  font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0583, 2rem);
  letter-spacing: 1px;
}
.checkoutPage .checkoutContainer .summary div {
  display: flex;
  justify-content: space-between;
}
.checkoutPage .checkoutContainer .summary div.product {
  align-items: center;
  font-weight: 800;
  margin-bottom: clamp(1rem, 1rem + (100vw - 360px) * 0.0333, 1.5rem);
}
.checkoutPage .checkoutContainer .summary div.product .details {
  display: grid;
  align-content: space-evenly;
  margin-left: 1.5rem;
}
.checkoutPage .checkoutContainer .summary div.product img {
  border-radius: 10%;
  width: clamp(64px, 64px + (100vw - 360px) * 0.17083, 105px);
  height: clamp(64px, 64px + (100vw - 360px) * 0.17083, 105px);
}
.checkoutPage .checkoutContainer .summary div p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
  font-size: clamp(0.9375rem, 0.9375rem + (100vw - 360px) * 0.0375, 1.5rem);
  line-height: 3rem;
}
@media (min-width: 600px) {
  .checkoutPage .checkoutContainer .summary div p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.checkoutPage .checkoutContainer .summary div span {
  color: #101010;
  font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0316, 1.6rem);
  font-weight: 800;
}
.checkoutPage .checkoutContainer .summary div.grandTotal {
  margin: 1.5rem 0;
}
.checkoutPage .checkoutContainer .summary div.grandTotal span {
  color: #d87d4a;
}
.checkoutPage .checkoutContainer .summary div button.btnOrange {
  display: block;
  width: 100%;
  font-weight: 800;
}

.confirmationOverlay {
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.confirmationOverlay::before {
  content: "";
  background-color: black;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.confirmationOverlay .confirmation {
  width: 80%;
  max-height: 90vh;
  background-color: #fff;
  z-index: 999;
  padding: 2rem;
  border-radius: 10px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.confirmationOverlay .confirmation .icon {
  margin-bottom: 1.5rem;
  width: clamp(64px, 64px + (100vw - 360px) * 0.0875, 85px);
  height: clamp(64px, 64px + (100vw - 360px) * 0.0875, 85px);
}
.confirmationOverlay .confirmation h3 {
  font-size: clamp(1.5rem, 1.5rem + (100vw - 360px) * 0.05, 2.25rem);
  line-height: 1.15;
  margin-bottom: 1.125rem;
}
.confirmationOverlay .confirmation a {
  display: block;
}
.confirmationOverlay .confirmation p {
  color: #979797;
  font-size: clamp(13.5px, 0.9375rem + (100vw - 360px) * 0.04375, 24px);
  line-height: 1.66;
  font-weight: 500;
}
@media (min-width: 600px) {
  .confirmationOverlay .confirmation p {
    font-size: clamp(0.9375rem, 0.9375rem + (100vw - 600px) * 0.0247641, 25.5px);
  }
}
.confirmationOverlay .confirmation .cartEmpty span {
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 1.5rem);
  font-weight: 800;
  color: #000;
}
.confirmationOverlay .confirmation .items {
  background-color: #f1f1f1;
  padding: 1.125rem 1.5rem 1.125rem 1rem;
  margin-top: 1.125rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.confirmationOverlay .confirmation .items .item {
  text-align: initial;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
}
.confirmationOverlay .confirmation .items .item .details {
  display: flex;
  align-items: center;
}
.confirmationOverlay .confirmation .items .item .details img {
  width: clamp(64px, 64px + (100vw - 360px) * 0.17083, 105px);
  height: clamp(64px, 64px + (100vw - 360px) * 0.17083, 105px);
}
.confirmationOverlay .confirmation .items .item .details .name {
  font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0316, 1.6rem);
}
.confirmationOverlay .confirmation .items button {
  background-color: transparent;
  border: none;
  color: #b9b9b9;
  text-decoration: underline;
  transition: 0.2s;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
.confirmationOverlay .confirmation .items button:hover {
  color: #d87d4a;
}
.confirmationOverlay .grandTotal {
  background-color: #101010;
  padding: 1.125rem 1.5rem;
  margin-bottom: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0416, 1.75rem);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.confirmationOverlay .grandTotal span {
  color: #fff;
  font-size: clamp(1.125rem, 1.125rem + (100vw - 360px) * 0.0316, 1.6rem);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.homePage {
  text-align: center;
}
.homePage .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
@media (min-width: 600px) {
  .homePage .background {
    height: clamp(500px, 500px + (100vw - 600px) * 0.4009433, 670px);
    top: 7%;
  }
}
.homePage .hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 4rem;
  height: 85vh;
}
@media (min-width: 600px) {
  .homePage .hero {
    margin-bottom: 0;
    margin-bottom: 6rem;
    margin-bottom: clamp(0rem, 0rem + (100vw - 600px) * 0.226415, 6rem);
  }
}
.homePage .hero span {
  color: #979797;
  letter-spacing: clamp(0.5rem, 0.5rem + (100vw - 360px) * 0.0566, 1rem);
  font-size: clamp(0.9rem, 0.9rem + (100vw - 360px) * 0.0233, 1.25rem);
  margin: clamp(1rem, 1rem + (100vw - 360px) * 0.1333, 3rem) 0 1rem;
}
@media (min-width: 600px) {
  .homePage .hero span {
    font-size: clamp(0.75rem, 0.75rem + (100vw - 600px) * 0.09433, 1rem);
    letter-spacing: clamp(0.45rem, 0.45rem + (100vw - 600px) * 0.01839, 0.9375rem);
    margin: clamp(0rem, 0rem + (100vw - 600px) * 0.26415, 7rem) 0 1rem;
  }
}
.homePage .hero h1 {
  color: #fff;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  line-height: clamp(2.75rem, 2.75rem + (100vw - 360px) * 0.1, 3.5rem);
  font-size: clamp(2rem, 2rem + (100vw - 360px) * 0.1, 3.5rem);
}
@media (min-width: 600px) {
  .homePage .hero h1 {
    font-size: clamp(2.7rem, 2.7rem + (100vw - 600px) * 0.07735, 4.75rem);
    line-height: clamp(3rem, 3rem + (100vw - 600px) * 0.06603, 4.75rem);
    margin-bottom: clamp(0.5rem, 0.5rem + (100vw - 600px) * 0.03773, 1.5rem);
  }
}
.homePage .hero p {
  color: #b9b9b9;
  margin-bottom: 2rem;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.0333, 1.5rem);
  padding: 0 clamp(1rem, 1rem + (100vw - 360px) * 0.0666, 2rem);
}
@media (min-width: 600px) {
  .homePage .hero p {
    font-size: clamp(0.75rem, 0.75rem + (100vw - 600px) * 0.019622, 1.27rem);
    padding: 0 clamp(9rem, 9rem + (100vw - 600px) * 0.26415, 16rem);
    line-height: clamp(1.25rem, 1.25rem + (100vw - 600px) * 0.01886, 1.75rem);
  }
}
@media (min-width: 600px) {
  .homePage .featuredProducts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, clamp(260px, 260px + (100vw - 600px) * 0.51886, 480px));
    gap: 2rem;
  }
}
.homePage .featuredProducts div {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .homePage .featuredProducts div {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
}
.homePage .featuredProducts .ZX9-Product {
  position: relative;
  border-radius: 10px;
  background-color: #d87d4a;
  display: grid;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-size: cover;
  background-position: center clamp(-210px, -120px + (100vw - 360px) * -0.375, -120px);
  background-size: 170%;
  background-repeat: no-repeat;
  background-color: #d87d4a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX9-Product {
    justify-content: flex-start;
    grid-row: 1/3;
    grid-column: 1/3;
    background-size: 140%;
    background-position: center clamp(-390px, -225px + (100vw - 600px) * -0.38915, -225px);
  }
}
.homePage .featuredProducts .ZX9-Product .image {
  align-self: center;
  height: auto;
  width: clamp(162px, 162px + (100vw - 360px) * 0.5125, 285px);
  width: 25%;
  width: 30%;
  margin-top: clamp(4rem, 4rem + (100vw - 360px) * 0.1, 5.5rem);
  margin-bottom: clamp(30px, 30px + (100vw - 360px) * 0.09375, 52.5px);
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX9-Product .image {
    width: 25%;
    width: 152.5px;
    width: clamp(152.5px, 152.5px + (100vw - 600px) * 0.25353, 260px);
    margin-top: clamp(3rem, 3rem + (100vw - 600px) * 0.03773, 4rem);
    margin-bottom: clamp(2.25rem, 2.25rem + (100vw - 600px) * 0.1226415, 4.5rem);
  }
}
.homePage .featuredProducts .ZX9-Product h2 {
  color: #fff;
  font-size: clamp(2.5rem, 2.5rem + (100vw - 360px) * 0.1333, 4.5rem);
  padding: 0 3rem;
  line-height: clamp(2.75rem, 2.75rem + (100vw - 360px) * 0.15, 5rem);
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX9-Product h2 {
    font-size: clamp(3rem, 3rem + (100vw - 600px) * 0.1132, 6rem);
    padding: 0 clamp(10rem, 10rem + (100vw - 600px) * 0.18867, 15rem);
    line-height: clamp(3.25rem, 3.25rem + (100vw - 600px) * 0.10377, 6rem);
  }
}
.homePage .featuredProducts .ZX9-Product p {
  margin: 1rem 0 2rem;
  line-height: clamp(1.6rem, 1.6rem + (100vw - 360px) * 0.0933, 3rem);
  color: #fff;
  opacity: 0.75;
  font-size: clamp(1rem, 1rem + (100vw - 360px) * 0.05666, 1.75rem);
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX9-Product p {
    font-size: clamp(0.75rem, 0.75rem + (100vw - 600px) * 0.03018, 1.55rem);
    padding: 0 clamp(8rem, 8rem + (100vw - 600px) * 0.15094, 12rem);
    line-height: clamp(1.25rem, 1.25rem + (100vw - 600px) * 0.9433, 2.5rem);
    margin: clamp(1rem, 1rem + (100vw - 600px) * 0.37735, 2rem) 0 clamp(24px, 63px - 3.77vw, 40px);
  }
}
.homePage .featuredProducts .ZX9-Product a {
  margin-bottom: 4rem;
}
.homePage .featuredProducts .ZX7-Product {
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX7-Product {
    grid-row: 3/4;
    grid-column: 1/3;
    background-image: url("/assets/home/tablet/image-speaker-zx7.jpg");
    background-size: 100% 100%;
  }
}
.homePage .featuredProducts .ZX7-Product .details {
  text-align: left;
  padding: 7rem 0 0 1.5rem;
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX7-Product .details {
    padding: clamp(3rem, 3rem + (100vw - 600px) * 0.1132, 6rem) 0 0 clamp(2.5rem, 2.5rem + (100vw - 360px) * 0.09433, 5rem);
    margin: auto;
  }
}
.homePage .featuredProducts .ZX7-Product .details h2 {
  margin-bottom: clamp(2rem, 2rem + (100vw - 360px) * 0.1333, 4rem);
  color: #101010;
  font-size: clamp(1.75rem, 1.75rem + (100vw - 360px) * 0.103, 3.3em);
  letter-spacing: 1px;
  margin-bottom: clamp(3rem, 3rem + (100vw - 360px) * 0.0666, 4rem);
}
@media (min-width: 600px) {
  .homePage .featuredProducts .ZX7-Product .details h2 {
    font-size: clamp(1.5rem, 1.5rem + (100vw - 600px) * 0.0415, 2.6rem);
    margin: 0 0 clamp(2.5rem, 2.5rem + (100vw - 600px) * 0.07547, 4.5rem);
  }
}
.homePage .featuredProducts .YX1-Product {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 600px) {
  .homePage .featuredProducts .YX1-Product {
    gap: 0.5rem;
    grid-row: 4;
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
  }
}
.homePage .featuredProducts .YX1-Product .imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.homePage .featuredProducts .YX1-Product .details {
  background-color: #eeeeee;
  border-radius: 10px;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 600px) {
  .homePage .featuredProducts .YX1-Product .details {
    grid-column: 2;
    padding-left: clamp(2rem, 2rem + (100vw - 600px) * 0.037335, 3rem);
  }
}
.homePage .featuredProducts .YX1-Product .details h2 {
  font-size: clamp(2.1rem, 2.1rem + (100vw - 360px) * 0.08333, 3.35rem);
  letter-spacing: 1px;
}
@media (min-width: 600px) {
  .homePage .featuredProducts .YX1-Product .details h2 {
    font-size: clamp(1.5rem, 1.5rem + (100vw - 600px) * 0.0415, 2.6rem);
  }
}/*# sourceMappingURL=main.css.map */