
footer {
   @extend %pages-pads;
   background-color: $lighter-black;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
   text-align: center;
   margin-top: clamp(5rem, calc(5rem + (100vw - 360px) * 0.2666 ), 9rem);
   .logo, ul, p, strong {
      margin-bottom: 3rem;
   }
   .logo {
      width: 45%;
      height: auto;
   }
   &::before {
      content: "";
      position: absolute;
      background-color: $dark-tan;
      width: 25%;
      height: 4px;
      top: 0;
   }
   ul { 
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      a {
         font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.03333), 1.5rem);
         color: $light-grey;
         font-weight: 600;
         padding: 0;
         letter-spacing: 2px;
         &:hover {
            color: $dark-tan;
         }
      }
   }
   p {
      color: $dark-grey;
      font-size: clamp(0.925rem, calc(0.925rem + (100vw - 360px) * 0.045), 1.6rem);
      line-height: 2.5rem;
      line-height: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0833), 2.75rem);
   }
   strong {
      color: $grey;
      opacity: 0.75;
      font-size: clamp(0.925rem, calc(0.925rem + (100vw - 360px) * 0.045), 1.6rem);
      }
   .socialIcons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 32.5%;
      margin-bottom: 0;
      a {
         &:hover {
            color: $dark-tan;
         }
      }
   }
}