
footer {
   @extend %pages-pads;
   background-color: $lighter-black;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   position: relative;
   text-align: center;
   margin-top: clamp(5rem, calc(5rem + (100vw - 360px) * 0.2666 ), 9rem);
   @media (min-width: 600px) {
      margin-top: 5rem;
      align-items: flex-start;
      text-align: left;
   }
   @media (min-width: 1024px) {
      padding: 5rem clamp(100px, calc(100px + (100vw - 1024px) * 0.1201923 ), 150px);
      margin-top: 0;
   }
   &::before {
      content: "";
      position: absolute;
      background-color: $dark-tan;
      width: 101px;
      height: 4px;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      @media (min-width: 600px) {
         left: clamp(82px, calc(82px + (100vw - 600px) * 0.037735 ), 98px);
      }
      @media (min-width: 1024px) {
         left: clamp(100px, calc(100px + (100vw - 1024px) * 0.1201923 ), 150px);
      }
   }
   .logo, ul, p, strong {
      margin-bottom: 48px;
      @media (min-width: 600px) {
         margin-bottom: 2rem;
      }
   }
   .logoAndLinks {
      @media (min-width: 1024px) {
         display: flex;
         justify-content: space-between;
         width: 100%;
      }
      .logo {
         width: 143px;
         margin: 52px 0 48px;
         height: auto;
         @media (min-width: 600px) {
            margin: clamp(60px, calc(60px + (100vw - 600px) * 0.070754 ), 90px) 0 clamp(32px, calc(32px + (100vw - 600px) * 0.056603 ), 56px);
            width: clamp(143px, calc(143px + (100vw - 600px) * 1.41509 ), 203px);
         }
      }
      ul { 
         display: flex;
         flex-direction: column;
         gap: 16px;
         @media (min-width: 600px) {
            gap: 34px;
         }
         &.socialIcons {
            gap: 0;
         }
         @media (min-width: 600px) {
            flex-direction: row;
         }
         a {
            color: $light-grey;
            font-weight: 600;
            padding: 0;
            letter-spacing: 2px;
            height: fit-content;
            font-size: 13px;
            @media (min-width: 600px) {
               width: fit-content;
               gap: 34px;
               font-size: clamp(13px, calc(13px + (100vw - 600px) * 0.016509 ), 20px);
            }
            &:hover {
               color: $dark-tan;
            }
            @media (min-width: 1024px) {
               font-size: 13px;
            }
         }
      }
   }
   p {
      @include paragraph-style-white;
      opacity: 50%;
      padding: 0 0.25rem;
      margin-bottom: 48px;
      padding: 0;
      @media (min-width: 600px) {
         line-height: clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.0283018 ), 2rem);
         margin-bottom: clamp(3rem, calc(3rem + (100vw - 600px) * 0.075471 ), 5rem);
      }
      @media (min-width: 1024px) {
         width: clamp(530px, calc(530px + (100vw - 1024px) * 0.216346), 620px);
         font-size: clamp(15px, calc(15px + (100vw - 1024px) * 0.006009 ), 17.5px);
         line-height: 25px;
      }
   }
   .copyrightAndIcons {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 38px;
      @media (min-width: 600px) {
         flex-direction: row;
         align-items: center;
         width: 100%;
         justify-content: space-between;
      }
      small {
         @include paragraph-style-white;
         opacity: 50%;
         font-weight: bold;
         margin-bottom: 48px;
         padding: 0;
         @media (min-width: 600px) {
            margin-bottom: 0;
         }
         @media (min-width: 1024px) {
            font-size: 15px;
         }
      }
      .socialIcons {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 104px;
         margin-bottom: 0;
         gap: 15px;
         @media (min-width: 600px) {
            width: auto;
            gap: clamp(0.5rem, calc(0.5rem + (100vw - 600px) * 0.06603 ), 2.25rem);
            justify-content: center;
         }
         @media (min-width: 1024px) {
            justify-content: space-between;
            width: 12.5%;
            gap: 0;
            position: absolute;
            right: 0;
            top: -100px;
         }
         a {
            width: fit-content;
            color: $white;
            &:hover {
               color: $dark-tan;
            }
            @media (min-width: 1024px) {
               padding: 0;
               display: block;
            }
         }
      }
   }
}