
header {
   background-color: $lighter-black;
   padding: 2rem;
   border-bottom: 1px solid $jet-grey;
   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
         width: 45%;
         height: auto;
      }
      button {
         border:  none;
         cursor: pointer;
         position: relative;
         background-color: transparent;
         img {
            width: clamp(23px, calc(23px + (100vw - 360px) * 0.0416 ), 7rem);
            height: clamp(20px, calc(20px + (100vw - 360px) * 0.0416 ), 7rem);
            position: relative !important;
         }
         p {
            position: absolute;
            top: -15px;
            left: 15px;
            background-color: $dark-tan;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            color: $white;
         }
      }
   }   
}
