
header {
   background-color: $lighter-black;
   padding: 1.5rem 1rem;
   border-bottom: 1px solid $jet-grey;
   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
         width: 40%;
         height: 40%;
      }
      button {
         background-color: transparent;
         border:  none;
         position: relative;
         cursor: pointer;
         padding: 0;
         img {
            width: 100%;
            height: 100%;
            position: relative !important;
         }
         p {
            position: absolute;
            top: -15px;
            left: 10px;
            background-color: $dark-tan;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            color: $white;
         }
      }
   }   
}
