
header {
   background-color: $lighter-black;
   border-bottom: 1px solid $jet-grey;
   @media (min-width: 600px) {
      padding: 2rem clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
   }
   @media (min-width: 1024px) {
      padding: 2rem 150px;
      padding: 2rem 115px;
      padding: 2rem clamp(115px, calc(115px + (100vw - 1024px) * 0.08413461 ), 150px);
      border-bottom: none;
      position: relative;
      &::before {
         content: "";
         bottom: 0;
         left: 50%;
         height: 1px;
         width: calc(100% - 300px);
         width: calc(100% - 230px);
         width: calc(100% - clamp(230px, calc(230px + (100vw - 1024px) * 0.1682692 ), 300px));
         transform: translateX(-50%);
         background-color: $jet-grey;
         position: absolute;
      }
   }
   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 600px) {
         justify-content: flex-start;
      }
      @media (min-width: 1024px) {
         justify-content: space-between;
         height: 100%;
         .desktopLinks {
            display: flex;
            gap: 34px;
            a {
               text-transform: uppercase;
               color: $white;
               padding: 0;
               margin: 0 1rem;
               font-size: 13px;
               letter-spacing: 2px;
               &:hover {
                  color: $dark-tan;
               }
            }
         }
      }
      .logo {
         width: 45%;
         height: auto;
         @media (min-width: 600px) {
            width: clamp(150px, calc(150px + (100vw - 600px) * 0.23584), 250px);
            margin-left: 2rem;
         }
         @media (min-width: 1024px) {
            margin: 0;
            width: 143px;
            height: 25px;
         }
      }
      .cartIconButton {
         border:  none;
         cursor: pointer;
         position: relative;
         background-color: transparent;
         text-align: center;
         @media (min-width: 600px) {
            margin-left: auto;
         }
         @media (min-width: 1024px) {
            margin: 0;
         }
         img {
            width: clamp(23px, calc(23px + (100vw - 360px) * 0.0625 ), 38px);
            height: clamp(20px, calc(20px + (100vw - 360px) * 0.0625 ), 35px);
            position: relative !important;
            @media (min-width: 600px) {
               width: clamp(23px, calc(23px + (100vw - 600px) * 0.011792 ), 28px);
               height: clamp(20px, calc(20px + (100vw - 600px) * 0.011792 ), 25px);
            }
            @media (min-width: 1024px) {
               width: 23px;
               width: 33px;
               width: clamp(23px, calc(23px + (100vw - 1024px) * 0.0240384 ), 33px);
               height: 20px;
               height: 30px;
               height: clamp(20px, calc(20px + (100vw - 1024px) * 0.0240384 ), 30px);
            }
         }
         p {
            position: absolute;
            top: clamp(-22.5px, calc(-15px + (100vw - 360px) * -0.03125), -15px);
            left: clamp(15px, calc(15px + (100vw - 360px) * 0.03125 ), 22.5px);
            background-color: $dark-tan;
            border-radius: 50%;
            font-size: clamp(16px, calc(16px + (100vw - 360px) * 0.00833 ), 18px);
            padding: clamp(2px, calc(2px + (100vw - 360px) * 0.0125 ), 5px) clamp(8px, calc(8px + (100vw - 360px) * 0.0125 ), 11px);
            color: $white;
            @media (min-width: 600px) {
               padding: 2px 8px;
               font-size: clamp(12px, calc(12px + (100vw - 600px) * 0.004716 ), 14px);
               top: -15px;
               left: clamp(15px, calc(15px + (100vw - 600px) * 0.011792 ), 20px);
            }
            @media (min-width: 1024px) {
               left: clamp(12.5px, calc(12.5px + (100vw - 1024px) * 0.01802884 ), 20px);
            }
         }
      }
   }   
}
