
header {
   @extend %main-pads;
   background-color: $lighter-black;
   border-bottom: 1px solid $jet-grey;
   padding-top: 2rem;
   padding-bottom: 2rem;
   @media (min-width: 1024px) {
      padding: 2rem clamp(115px, calc(115px + (100vw - 1024px) * 0.08413461 ), 150px);
      border-bottom: none;
      position: relative;
      &::before {
         content: "";
         bottom: 0;
         left: 50%;
         height: 1px;
         width: calc(100% - clamp(230px, calc(230px + (100vw - 1024px) * 0.1682692 ), 300px));
         transform: translateX(-50%);
         background-color: $jet-grey;
         position: absolute;
      }
   }
   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 600px) {
         justify-content: flex-start;
      }
      @media (min-width: 1024px) {
         justify-content: space-between;
         height: 100%;
         ul {
            display: flex;
            gap: 25px;
            a {
               text-transform: uppercase;
               color: $white;
               padding: 0;
               font-size: 13px;
               letter-spacing: 2px;
               width: fit-content;
               &:hover {
                  color: $dark-tan;
               }
            }
         }
      }
      .logo {
         width: clamp(143px, calc(143px + (100vw - 600px) * 0.166666), 173px);
         height: auto;
         @media (min-width: 600px) {
            width: clamp(143px, calc(143px + (100vw - 600px) * 0.0943396), 183px);
            margin-left: 32px;
         }
         @media (min-width: 1024px) {
            margin: 0;
            width: 143px;
            height: 25px;
         }
      }
      .cartIconButton {
         border:  none;
         cursor: pointer;
         position: relative;
         background-color: transparent;
         text-align: center;
         @media (min-width: 600px) {
            margin-left: auto;
         }
         @media (min-width: 1024px) {
            margin: 0;
         }
         img {
            width: clamp(23px, calc(23px + (100vw - 600px) * 0.0125 ), 26px);
            height: clamp(20px, calc(20px + (100vw - 600px) * 0.0125 ), 23px);
            position: relative !important;
            @media (min-width: 600px) {
               width: clamp(23px, calc(23px + (100vw - 600px) * 0.011792 ), 28px);
               height: clamp(20px, calc(20px + (100vw - 600px) * 0.011792 ), 25px);
            }
            @media (min-width: 1024px) {
               width: clamp(23px, calc(23px + (100vw - 1024px) * 0.0240384 ), 33px);
               height: clamp(20px, calc(20px + (100vw - 1024px) * 0.0240384 ), 30px);
            }
         }
         p {
            position: absolute;
            top: clamp(-15.5px, calc(-13.5px + (100vw - 360px) * -0.00833), -13.5px);
            left: 15px;
            background-color: $dark-tan;
            border-radius: 50%;
            font-size: clamp(13px, calc(13px + (100vw - 360px) * 0.004166 ), 14px);
            padding: clamp(2px, calc(2px + (100vw - 360px) * 0.004166 ), 3px) clamp(8px, calc(8px + (100vw - 360px) * 0.004166 ), 9px);
            color: $white;
            @media (min-width: 600px) {
               padding: 2px 8px;
               font-size: clamp(12px, calc(12px + (100vw - 600px) * 0.004716 ), 14px);
               top: -15px;
               left: clamp(15px, calc(15px + (100vw - 600px) * 0.011792 ), 20px);
            }
            @media (min-width: 1024px) {
               left: clamp(12.5px, calc(12.5px + (100vw - 1024px) * 0.01802884 ), 20px);
            }
         }
      }
   }   
}
