@mixin paragraph-style {
   color: $dark-grey;
   font-size: 0.9375rem;
   line-height: 1.66;
}

@mixin productImge-style {
   border-radius: $radius-10;
   width: 100%;
   height: 100%;
}

@mixin darkTan-style {
   color: $dark-tan;
   letter-spacing: 0.625rem;
   font-size: 0.875rem;
}


@mixin pages-style {
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: $white;
   h1 {
      background-color: $lighter-black;
      color: $white;
      padding: 2rem;
   }
   .productContainer {
      display: flex;
      padding: 4rem 2rem 2rem;
      flex-direction: column;
      .productImage {
         img {
            @include productImge-style;
         }
      }
      .productDetails {
         padding: 1rem 0;
         span {
            @include darkTan-style;
         }
         h2 {
            font-size: 1.75rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 1.5rem 0;
         }
         p {
            @include paragraph-style;
            margin-bottom: 3rem;
         }
      }
      &:last-of-type {
         margin-bottom: 2rem;
      }
   }
}