@mixin paragraph-style {
   color: $dark-grey;
   font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 360px) * 0.04833) ,1.3rem);
   line-height: 1.66;
}

@mixin productImge-style {
   border-radius: $radius-10;
   width: 100%;
   height: 100%;
}

@mixin darkTan-style {
   color: $dark-tan;
   letter-spacing: clamp(0.625rem, calc(0.625rem + (100vw - 360px) * 0.0333 ) ,0.875rem);
   font-size: clamp(0.875rem, calc(0.875rem + (100vw - 360px) * 0.05 ) ,1.25rem);
}


@mixin pages-style {
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: $white;
   h1 {
      background-color: $lighter-black;
      color: $white;
      font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.1 ) ,2.75rem);
      padding: 2rem;
   }
   .productContainer {
      display: flex;
      padding: 4rem 2rem 2rem;
      flex-direction: column;
      .productImage {
         img {
            @include productImge-style;
         }
      }
      .productDetails {
         padding: 1rem 0;
         span {
            @include darkTan-style;
         }
         h2 {
            font-size: clamp(1.75rem, calc(1.75rem + (100vw - 360px) * 0.08 ) ,2.35rem);
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 1.5rem 0;
         }
         p {
            @include paragraph-style;
            margin-bottom: 3rem;
         }
      }
      &:last-of-type {
         margin-bottom: 2rem;
      }
   }
}

@mixin quantityButton {
   background-color: $light-grey;
   width: fit-content;
   span {
      padding: 0.45rem;
      background-color: inherit;
   }
   button {
      border: none;
      background-color: $light-grey;
      transition: 0.3s;
      color: $lighter-black;
      &:hover {
         background-color: $grey;
         color: $dark-tan;
      }
   }
}