@mixin paragraph-style {
   color: $dark-grey;
   font-size: clamp(13.5px, calc(0.9375rem + (100vw - 360px) * 0.04375) ,24px);
   line-height: 1.66;
   font-weight: 500;
   @media (min-width: 600px) {
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.0247641 ) , 25.5px);
   }
}

@mixin productImge-style {
   border-radius: $radius-10;
   width: 100%;
   height: 100%;
   margin-bottom: 1rem;
   @media (min-width: 600px) {
      margin: 0;
   }
}

@mixin darkTan-style {
   color: $dark-tan;
   letter-spacing: clamp(0.625rem, calc(0.625rem + (100vw - 360px) * 0.03166 ) ,1.1rem);
   font-size: clamp(0.875rem, calc(0.875rem + (100vw - 360px) * 0.025 ) ,1.5rem);
   @media (min-width: 600px) {
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.013679 ) ,1.3rem);
      letter-spacing: clamp(10px, calc(10px + (100vw - 600px) * 0.023584 ) ,20px);
   }
}


@mixin pages-style {
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: $white;
   h1 {
      background-color: $lighter-black;
      color: $white;
      font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0833 ) ,2.75rem);
      padding: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0333 ) ,2rem);
      @media (min-width: 600px) {
         font-size: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.075471 ) ,4.5rem);
         padding: clamp(3rem, calc(3rem + (100vw - 600px) * 0.037735 ) ,4rem);
      }
   }
   .productsContainer {
      @extend %pages-pads;
      margin-top: clamp(3rem, calc(3rem + (100vw - 360px) * 0.2 ), 6rem);
      display: grid;
      gap: 7rem;
      @media (min-width: 600px) {
         margin-top: clamp(6rem, calc(6rem + (100vw - 600px) * 0.075471 ) ,8rem);
      }
      .product {
         display: flex;
         flex-direction: column;
         .productImage {
            img {
               @include productImge-style;
            }
         }
         .productDetails {
            margin: 1rem 0;
            @media (min-width: 600px) {
               margin: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.037735 ) ,3.5rem) 0 clamp(1rem, calc(1rem + (100vw - 600px) * 0.037735 ) ,2rem);
            }
            span {
               @include darkTan-style;
            }
            h2 {
               font-size: clamp(1.75rem, calc(1.75rem + (100vw - 360px) * 0.07916 ) ,2.75rem);
               letter-spacing: 2px;
               text-transform: uppercase;
               margin: 1.5rem clamp(1rem, calc(1rem + (100vw - 360px) * 0.133 ) ,3rem);
               @media (min-width: 600px) {
                  font-size: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.066037 ) ,4.25rem);
                  margin: 1.5rem 5.75rem;
                  line-height: clamp(44px, calc(44px + (100vw - 600px) * 0.077830 ) ,77px);
                  letter-spacing: 1px;
               }
            }
            p {
               @include paragraph-style;
               margin-bottom: clamp(3rem, calc(3rem + (100vw - 360px) * 0.133 ) , 5rem);
               padding: 0 clamp(0.1rem, calc(0.1rem + (100vw - 360px) * 0.06 ) , 1rem);
               @media (min-width: 600px) {
                  margin-bottom: clamp(2rem, calc(2rem + (100vw - 600px) * 0.075471 ) ,4rem);
                  padding: 0;
               }
            }
         }
         &:last-of-type {
            margin-bottom: 2rem;
         }
      }
   }
   .categories {
      margin: 0; 
      @media (min-width: 600px) {
         margin: clamp(1rem, calc(1rem + (100vw - 600px) * 0.1132075 ) ,4rem) 0;
      }
   } 
   @media (min-width: 600px) {
      .categories,
      .description {
         padding: 0;
      }
      .categories {
         div {
            margin: 0;
         }
      }
   }
}

@mixin quantityButton {
   background-color: $light-grey;
   width: fit-content;
   font-size: clamp(0.8rem, calc(0.8rem + (100vw - 360px) * 0.0266), 1.25rem);
   font-weight: 800;
   @media (min-width: 600px) {
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.021226), 1.5rem);
   }
   span {
      background-color: inherit;
      text-align: center;
      padding: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.05), 1.5rem) clamp(0.5rem, calc(0.5rem + (100vw - 360px) * 0.0833), 1.75rem);
      @media (min-width: 600px) {
         padding: clamp(1rem, calc(1rem + (100vw - 600px) * 0.009433), 1.25rem) clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.0283018), 2rem);
      }
   }
   button {
      border: none;
      background-color: $light-grey;
      transition: 0.3s;
      color: $lighter-black;
      padding: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.05), 1.5rem) clamp(1rem, calc(1rem + (100vw - 360px) * 0.0833), 2.25rem);
      cursor: pointer;
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 360px) * 0.0275 ) ,1.35rem);
      @media (min-width: 600px) {
         padding: clamp(1rem, calc(1rem + (100vw - 600px) * 0.009433), 1.25rem) clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.0283018), 2rem);
         font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.025), 1.6rem);
      }
      &:hover {
         background-color: $grey;
         color: $dark-tan;
      }
   }
}