@mixin paragraph-style {
   color: $jet-black;
   line-height: 25px;
   font-size: 15px;
   font-weight: 600;
   opacity: 50%;
   @media (min-width: 600px) {
      font-size: clamp(15px, calc(15px + (100vw - 600px) * 0.021226 ) ,24px);
      line-height: clamp(25px, calc(25px + (100vw - 600px) * 0.0353773 ) ,40px);
   }
   @media (min-width: 1024px) {
      font-size: 15px;
      line-height: 25px;
      text-align: left;
   }
}
@mixin paragraph-style-white {
   color: $white;
   opacity: 75%;
   font-size: 15px;
   font-weight: 400;
   line-height: 25px;
   padding: 0 1rem;
   @media (min-width: 600px) {
      font-size: clamp(15px, calc(15px + (100vw - 600px) * 0.021226 ) ,24px);
      line-height: clamp(25px, calc(25px + (100vw - 600px) * 0.0353773 ) ,40px);
   }
   @media (min-width: 1024px) {
      font-size: 15px;
      line-height: 25px;
      text-align: left;
   }
}

@mixin productImge-style {
   border-radius: $radius-8;
   width: 100%;
   height: 100%;
   margin-bottom: 1rem;
   @media (min-width: 600px) {
      margin: 0;
   }
}

@mixin darkTan-style {
   color: $dark-tan;
   letter-spacing: clamp(0.625rem, calc(0.625rem + (100vw - 360px) * 0.03166 ) ,1.1rem);
   font-size: clamp(0.875rem, calc(0.875rem + (100vw - 360px) * 0.025 ) ,1.5rem);
   @media (min-width: 600px) {
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.013679 ) ,1.3rem);
      letter-spacing: clamp(10px, calc(10px + (100vw - 600px) * 0.023584 ) ,20px);
   }
   @media (min-width: 1024px) {
      letter-spacing: 10px;
      font-size: 0.9375rem;
   }
}


@mixin pages-style {
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: $white;
   h1 {
      background-color: $lighter-black;
      color: $white;
      font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0833 ) ,2.75rem);
      padding: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0333 ) ,2rem);
      @media (min-width: 600px) {
         font-size: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.075471 ) ,4.5rem);
         padding: clamp(3rem, calc(3rem + (100vw - 600px) * 0.037735 ) ,4rem);
      }
      @media (min-width: 1024px) {
         font-size: 2.5rem;
         padding: 6.25rem 0;
      }
   }
   .productsContainer {
      @extend %main-pads;
      margin-top: clamp(4rem, calc(4rem + (100vw - 360px) * 0.2 ), 7rem);
      display: grid;
      gap: clamp(7rem, calc(7rem + (100vw - 360px) * 0.2 ), 10rem);
      @media (min-width: 600px) {
         margin-top: clamp(6rem, calc(6rem + (100vw - 600px) * 0.075471 ) ,8rem);
      }
      .product {
         display: flex;
         flex-direction: column;
         @media (min-width: 1024px) {
            flex-direction: row;
            gap: 100px;
            text-align: left;
            &#even {
               flex-direction: row-reverse;
            }
         }
         .productImage {
            @media (min-width: 1024px) {
               display: flex;
               justify-content: center;
               justify-items: center;
               align-items: center;
               align-self: center;
               width: clamp(298px, calc(298px + (100vw - 1024px) * 0.34375 ) ,441px);
               height:  clamp(309px, calc(309px + (100vw - 1024px) * 0.358173 ) ,458px);
            }
            img {
               @include productImge-style;
               @media (min-width: 1024px) {
                  width: clamp(298px, calc(298px + (100vw - 1024px) * 0.34375 ) ,441px);
                  height:  clamp(309px, calc(309px + (100vw - 1024px) * 0.358173 ) ,458px);
               }
            }
         }
         .productDetails {
            margin-top: clamp(32px, calc(32px + (100vw - 360px) * 0.066666), 48px);
            display: grid;
            gap: clamp(24px, calc(24px + (100vw - 360px) * 0.033333), 32px);
            @media (min-width: 600px) {
               gap: clamp(32px, calc(32px + (100vw - 360px) * 0.037735), 48px);
               margin: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.037735 ) ,3.5rem) 0 clamp(1rem, calc(1rem + (100vw - 600px) * 0.037735 ) ,2rem);
            }
            @media (min-width: 1024px) {
               flex: 1;
            }
            span {
               @include darkTan-style;
            }
            h2 {
               font-size: clamp(1.75rem, calc(1.75rem + (100vw - 360px) * 0.07916 ) ,2.75rem);
               letter-spacing: 2px;
               text-transform: uppercase;
               @media (min-width: 600px) {
                  font-size: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.066037 ) ,4.25rem);
                  margin: 0 5.75rem;
                  line-height: clamp(44px, calc(44px + (100vw - 600px) * 0.077830 ) ,77px);
                  letter-spacing: 1px;
               }
               @media (min-width: 1024px) {
                  line-height: 44px;
                  font-size: 2.5rem;
                  width: 400px;
                  margin: 1rem 0 2rem;
               }
            }
            p {
               @include paragraph-style;
               padding: 0 clamp(0.1rem, calc(0.1rem + (100vw - 360px) * 0.06 ) , 1rem);
               @media (min-width: 600px) {
                  padding: 0;
               }
               @media (min-width: 1024px) {
                  margin-bottom: 3.5rem;
                  width: clamp(355px, calc(355px + (100vw - 1024px) * 0.4519230 ) ,543px);
               }
            }
         }
         &:last-of-type {
            margin-bottom: 2rem;
         }
      }
   }
   .categories {
      @media (min-width: 1024px) {
         margin: 0;
      }
   } 
   @media (min-width: 1024px) {
      .categories, 
      .description {
         margin-top: 4rem;
      }
   }
}

@mixin quantityButton {
   background-color: $light-grey;
   width: fit-content;
   display: flex;
   font-size: clamp(15px, calc(15px + (100vw - 360px) * 0.0125 ) ,18px);
   font-weight: 800;
   align-items: center;
   @media (min-width: 600px) {
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.021226), 1.5rem);
   }
   @media (min-width: 1024px) {
      font-size: 0.9375rem;
   }
   span {
      padding: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.05), 1.5rem) clamp(0.5rem, calc(0.5rem + (100vw - 360px) * 0.0833), 1.75rem);
      padding: 0.75rem 0.5rem;
      width: fit-content;
      @media (min-width: 600px) {
         padding: clamp(1rem, calc(1rem + (100vw - 600px) * 0.009433), 1.25rem) clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.0283018), 2rem);
      }
      @media (min-width: 1024px) {
         padding: 0.875rem 1rem;
      }
   }
   button {
      border: none;
      background-color: $light-grey;
      transition: 0.3s;
      color: $lighter-black;
      padding: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.05), 1.5rem) clamp(1rem, calc(1rem + (100vw - 360px) * 0.0833), 2.25rem);
      width: fit-content;
      cursor: pointer;
      font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 360px) * 0.0275 ) ,1.35rem);
      @media (min-width: 600px) {
         padding: clamp(1rem, calc(1rem + (100vw - 600px) * 0.009433), 1.25rem) clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.0283018), 2rem);
         font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.025), 1.6rem);
      }
      @media (min-width: 1024px) {
         font-size: 0.9375rem;
         padding: 0.875rem 1rem;
      }
      &:hover {
         background-color: $grey;
         color: $dark-tan;
      }
   }
}