$type-manrope: "Manrope", sans-serif;
$dark-tan: #d87d4a;
$light-tan: #fbaf85;
$jet-black: #000;
$lighter-black: #101010;
$jet-grey: #4c4c4c;
$grey: #b9b9b9;
$light-grey: #eeeeee;
$lighter-grey: #fafafa;
$dark-grey: #979797;
$white: #fff;
$red: #cd2c2c;
$radius-5: 5px;
$radius-10: 10px;
%sections-break {
   margin-bottom: clamp(5rem, calc(5rem + (100vw - 360px) * 0.1333 ) ,7rem);
}
%main-pads {
   padding: 2rem 1rem;
}

%pages-pads {
   padding: 0 clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0333), 2rem);
}
