$type-manrope: "Manrope", sans-serif;
$dark-tan: #d87d4a;
$light-tan: #fbaf85;
$jet-black: #000;
$lighter-black: #101010;
$jet-grey: #4c4c4c;
$grey: #b9b9b9;
$light-grey: #eeeeee;
$lighter-grey: #fafafa;
$dark-grey: #979797;
$white: #fff;
$red: #cd2c2c;
$radius-5: 5px;
$radius-8: 8px;
%sections-break {
   margin-bottom: clamp(5rem, calc(5rem + (100vw - 360px) * 0.1333 ) ,7rem);
}
%main-pads {
   padding: 0 clamp(24px, calc(24px + (100vw - 360px) * 0.033333) ,32px);
   @media (min-width: 600px) {
      padding: 0 clamp(30px, calc(30px + (100vw - 600px) * 0.023584) ,40px);
   }
}

%pages-pads {
   padding: 0 clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0333), 2rem);
   @media (min-width: 600px) {
      padding: 0 clamp(2rem, calc(2rem + (100vw - 600px) * 0.03773), 3rem); 
   }
   @media (min-width: 1024px) {
      padding: 0 clamp(115px, calc(115px + (100vw - 1024px) * 0.0841346), 150px);
   }
}


