$type-manrope: "Manrope", sans-serif;
$dark-tan: #d87d4a;
$light-tan: #fbaf85;
$jet-black: #000;
$lighter-black: #101010;
$jet-grey: #4c4c4c;
$grey: #b9b9b9;
$light-grey: #eeeeee;
$dark-grey: #979797;
$white: #fff;
$red: #cd2c2c;
$radius-5: 5px;
$radius-10: 10px;
%sections-break {
   margin-bottom: 5rem;
}
%main-pads {
   padding: 2rem 1rem;
}
