
a, button:not(aside button, .items button, header button, footer a) {
   text-decoration: none;
   letter-spacing: 1px;
   font-size: clamp(13px, calc(13px + (100vw - 360px) * 0.00416666 ), 14px);
   font-weight: bold;
   width: clamp(160px, calc(160px + (100vw - 360px) * 0.1041666 ), 185px);
   height: clamp(48px, calc(48px + (100vw - 360px) * 0.041666 ), 58px);
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   cursor: pointer;
   @media (min-width: 600px) {
      width: clamp(160px, calc(160px + (100vw - 600px) * 0.106132 ), 205px);
      height: clamp(48px, calc(48px + (100vw - 600px) * 0.047169 ), 68px);
      font-size: clamp(13px, calc(13px + (100vw - 600px) * 0.0047169 ), 15px);
   }
   @media (min-width: 1024px) {
      font-size: 13px;
      width: 160px;
      height: 48px;
   }
   &.btnOrange {
      background-color: $dark-tan;
      color: $white;
      border: none;
      margin: 0 auto;
      @media (min-width: 1024px) {
         margin: 0;
      }
   }
   &.btnOrange:hover {
      background-color: $light-tan;
   }
   &.btnDarkGrey {
      color: $jet-black;
      opacity: 50%;
   }
   &.btnDarkGrey:hover {
      color: $light-grey;
   }
   &.btnBlack {
      background-color: $jet-black;
      color: $white;
      text-align: center;
   }
   &.btnBlack:hover {
      background-color: $lighter-black;
   }
   &.btnTransparent{
      background-color: transparent;
      color: $lighter-black;
      border: 2px solid $jet-black;
      &:hover {
         background-color: $jet-black;
         color: $white;
      }
   }
   &.backBtn {
      background-color: transparent;
      padding: 0;
      color: $dark-grey;
      border: none;
      width: fit-content;
      height: fit-content;
      &:hover {
         text-decoration: underline;
      }
   }
}

.summary button.btnOrange,
.confirmation a.btnOrange,
.cartBody a.btnOrange {
   width: 100%;
   @media (min-width: 600px) and (max-width: 1023px) {
      font-size:clamp(13px, calc(13px + (100vw - 600px) * 0.0117924), 18px);
   }
}