
a, button:not(aside button, .items button, header button) {
   padding: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0333), 1.5rem) clamp(2rem, calc(2rem + (100vw - 360px) * 0.1), 3.5rem);
   letter-spacing: 0.05rem;
   text-decoration: none;
   text-align: center;
   font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 360px) * 0.0375 ) ,1.5rem);
   letter-spacing: 1px;
   font-weight: 600;
   cursor: pointer;
   &.btnOrange {
      background-color: $dark-tan;
      color: $white;
      border: none;
   }
   &.btnOrange:hover {
      background-color: $light-tan;
   }
   &.btnDarkGrey {
      color: $dark-grey;
      font-weight: 600;
   }
   &.btnDarkGrey:hover {
      color: $light-grey;
   }
   &.btnBlack {
      background-color: $jet-black;
      color: $white;
   }
   &.btnBlack:hover {
      background-color: $lighter-black;
   }
   &.btnTransparent{
      background-color: transparent;
      color: $lighter-black;
      border: 2px solid $jet-black;
      font-weight: 800;
      &:hover {
         background-color: $jet-black;
         color: $white;
      }
   }
   &.backBtn {
      background-color: transparent;
      padding: 0;
      color: $dark-grey;
      border: none;
      &:hover {
         text-decoration: underline;
      }
   }
}