@import "../abstract/variables";
.cartOverlay {
   position: absolute;
   z-index: 999;
   width: 100%;
   height: 100vh;
   &::before {
      content: "";
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      background-color: black;
      top: 0;
      left: 0;
      opacity: 0.3;
      z-index: -1;
   }
   .cartContainer {
      max-height: 70vh;
      overflow-y: auto;
      position: absolute;
      background-color: $white;
      padding: 2rem;
      width: 90%;
      top: 37.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: $radius-8;
      @media (min-width: 600px) {
         width: 70%;
      }
      @media (min-width: 1024px) {
         width: 40%;
      }
      .cartHeader {
         display: flex;
         justify-content: space-between;
         margin-bottom: 3rem;
         span {
            color: $jet-black;
            font-weight: 800;
            font-size: clamp(1.25rem, calc(1.25rem + (100vw - 360px) * 0.0666), 1.75rem);
            color: $lighter-black;
            @media (min-width: 600px) {
               font-size: clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.0283018), 2rem);
            }
            @media (min-width: 1024px) {
               font-size: 1.125rem;
            }
         }
         button {
            background-color: transparent;
            border: none;
            color: $grey;
            text-decoration: underline;
            transition: 0.3s;
            font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0466), 1.35rem);
            cursor: pointer;
            @media (min-width: 600px) {
               font-size: clamp(1rem, calc(1rem + (100vw - 600px) * 0.0283018), 1.75rem);
            }
            @media (min-width: 1024px) {
               font-size: 0.9375rem;
            }
            &:hover {
               color: $dark-tan;
            }
         }
      }
      .cartBody {
         .cartEmpty {
            @include paragraph-style;
            text-align: center;
         }
         .cartItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            .productDetails {
               display: flex;
               align-items: center;
               img {
                  border-radius: $radius-5;
                  width: clamp(64px, calc(64px + (100vw - 360px) * 0.2166), 90px);
                  height: clamp(64px, calc(64px + (100vw - 360px) * 0.2166), 90px);
                  @media (min-width: 600px) {
                     width: clamp(64px, calc(64px + (100vw - 600px) * 0.061320), 90px);
                     height: clamp(64px, calc(64px + (100vw - 600px) * 0.061320), 90px);
                  }
                  @media (min-width: 1024px) {
                     width: 64px;
                     height: 64px;
                  }
               }
               .details {
                  margin-left: 0.5rem;
                  @media (min-width: 600px) {
                     margin-left: clamp(4rem, calc(4rem + (100vw - 600px) * 0.1509433), 8rem);
                  }
                  @media (min-width: 1024px) {
                     margin-left: 2rem;
                  }
                  span {
                     color: $lighter-black;
                     font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0533), 1.4rem);
                     font-weight: 800;
                     @media (min-width: 600px) {
                        font-size: clamp(1rem, calc(1rem + (100vw - 600px) * 0.0283018), 1.75rem);
                        letter-spacing: 0.5px;
                     }
                     @media (min-width: 1024px) {
                        font-size: 0.875rem;
                     }
                  }
                  p {
                     @include paragraph-style;
                     font-weight: 600;
                  }
               }
            }
            .productBtn {
               @include quantityButton;
               @media (min-width: 600px) {
                  span {
                     padding: clamp(0.75rem, calc(0.75rem + (100vw - 600px) * 0.0188679), 1.25rem) clamp(1rem, calc(1rem + (100vw - 600px) * 0.0283018), 1.75rem);
                     font-size:clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.0117924), 1.25rem);
                  }
                  button {
                     padding: clamp(0.75rem, calc(0.75rem + (100vw - 600px) * 0.0188679), 1.25rem) clamp(1rem, calc(1rem + (100vw - 600px) * 0.0283018), 1.75rem);
                     font-size:clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.0117924), 1.25rem);
                  }
               }
               @media (min-width: 1024px) {
                  span {
                     padding: 0.75rem 1rem;
                     font-size: 0.9375rem;
                  }
                  button {
                     padding: 0.75rem 1rem;
                     font-size: 0.9375rem;
                  }
               }
            }
         }
         .totalPrice {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem 0;
            p {
               @include paragraph-style;
            }
            span {
               color: $lighter-black;
               font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0666), 1.5rem);
               font-weight: 800;
               @media (min-width: 600px) {
                  font-size:clamp(1rem, calc(1rem + (100vw - 600px) * 0.0283018), 1.75rem);
               }
               @media (min-width: 1024px) {
                  font-size: 1.125rem;
               }
            }
         }
         a {
            display: block;
            width: 100%;
         }
      }
   }
}