
.categories {
   margin-top: 92px;
   margin-bottom: 120px;
   display: grid;
   gap: clamp(68px, calc(68px + (100vw - 360px) * 0.041666), 78px);
   @extend %main-pads;
   @media (min-width: 600px) {
      display: flex;
      gap: clamp(10px, calc(10px + (100vw - 600px) * 0.0117924), 15px);
      margin-top: 148px;
      margin-bottom: 96px;
   }
   @media (min-width: 1024px) {
      gap: 30px;
      margin: clamp(100px, calc(100px + (100vw - 360px) * 0.158653 ), 166px) 0;
   }
   div {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $light-grey;
      border-radius: $radius-8;
      position: relative;
      flex: 1;
      .productImage {
         position: absolute;
         transform: translate(0, clamp(-60px, calc(-55px + (100vw - 360px) * -0.020833), -55px));
         width: clamp(150px, calc(150px + (100vw - 360px) * 0.041666), 160px);
         height: clamp(157.5px, calc(157.5px + (100vw - 360px) * 0.041666), 167.5px);
         z-index: 1;
         @media (min-width: 600px) {
            width: clamp(140px, calc(140px + (100vw - 600px) * 0.165094 ), 210px);
            height: clamp(155px, calc(155px + (100vw - 600px) * 0.047169 ), 175px);
            transform: translate(0, clamp(-65px, calc(-55px + (100vw - 600px) * -0.023584 ), -55px));
         }
         @media (min-width: 1024px) {
            width: 193px;
            height: 180px;
            transform: translate(0, -90%);               
         }
      }
      .categoryName {
         font-weight: bold;
         color: $lighter-black;
         font-size: clamp(15px, calc(15px + (100vw - 360px) * 0.008333), 17px);;
         letter-spacing: 1.07px;
         margin: 88px 0  17px;
         @media (min-width: 600px) {
            font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.0212264 ), 1.5rem);
            font-weight: 800;
            letter-spacing: 0.5px;
         }
         @media (min-width: 1024px) {
            font-size: 18px;
            letter-spacing: 1.29px;
         }
      }
      a {
         padding: 0;
         margin-bottom: 22px;
         height: 18px;
         letter-spacing: 1px;
         &:hover {
            color: $dark-tan;
         }
         @media (min-width: 600px) {
            width: fit-content;
            font-size: clamp(0.75rem, calc(0.75rem + (100vw - 600px) * 0.018867 ), 1.25rem);
         }
         @media (min-width: 1024px) {
            font-size: clamp(13px, calc(13px + (100vw - 1024px) * 0.0096153 ), 17px);
         }
      }
      .arrow {
         margin-left: 0.5rem;
      }
   }
}