
.confirmationOverlay {
   width: 100%;
   height: 150%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 999;
   &::before {
      content: "";
      background-color: black;
      position: absolute;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
   }
   .confirmation {
      width: 80%;
      max-height: 90vh;
      background-color: $white;
      z-index: 999;
      padding: 2rem;
      border-radius: $radius-8;
      overflow-y: auto;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (min-width: 600px) {
         max-height: 70vh;
         width: 70%;
         padding: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
      }
      @media (min-width: 1024px) {
         width: 50%;
      }
      .icon {
         margin-bottom: 1.5rem;
         width: clamp(64px, calc(64px + (100vw - 360px) * 0.0875 ), 85px);
         height: clamp(64px, calc(64px + (100vw - 360px) * 0.0875 ), 85px);
         @media (min-width: 600px) {
            width: clamp(64px, calc(64px + (100vw - 600px) * 0.0966981), 105px);
            height: clamp(64px, calc(64px + (100vw - 600px) * 0.0966981), 105px);
         }
         @media (min-width: 1024px) {
            width: 64px;
            height: 64px;
         }
      }
      h3 {
         font-size: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.05 ), 2.25rem);
         line-height: 1.15;
         margin-bottom: 1.125rem;
         @media (min-width: 600px) {
            font-size: clamp(1.5rem, calc(1.5rem + (100vw - 600px) * 0.037735 ), 2.5rem);
            letter-spacing: 0.5px;
         }
         @media (min-width: 1024px) {
            font-size: 1.5rem;
         }
      }
      a {
         display: block;
      }
      p {
         @include paragraph-style;
      }
      .container {
         @media (min-width: 600px) {
            display: flex;
            margin: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735), 3rem) 0 clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735), 3rem);
         }
         .cartEmpty {
            span {
               font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0666 ), 1.5rem);
               font-weight: 800;
               color: $jet-black;
            }
            @media (min-width: 1024px) {
               
            }
         }
         .items {
            background-color: #f1f1f1;
            padding: 1.125rem 1.5rem 1.125rem 1rem;
            margin-top: 1.125rem;
            border-top-left-radius: $radius-8;
            border-top-right-radius: $radius-8;
            text-align: center;
            @media (min-width: 600px) {
               width: 55%;
               margin-top: 0;
               border-radius: 0;
               border-top-left-radius: $radius-8;
               border-bottom-left-radius: $radius-8;
            }
            .item {
               text-align:initial;
               display: flex;
               justify-content: space-between;
               font-weight: 600;
               align-items: center;
               .details {
                  display: flex;
                  align-items: center;
                  img {
                     width: clamp(64px, calc(64px + (100vw - 360px) * 0.17083 ), 105px);
                     height: clamp(64px, calc(64px + (100vw - 360px) * 0.17083 ), 105px);
                     @media (min-width: 600px) {
                        width: clamp(50px, calc(50px + (100vw - 600px) * 0.094339), 90px);
                        height: clamp(50px, calc(50px + (100vw - 600px) * 0.094339), 90px);
                     }
                     @media (min-width: 1024px) {
                        width: 64px;
                        height: 64px;
                     }
                  }
                  .name {
                     font-size: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.0316), 1.6rem);
                     @media (min-width: 600px) {
                        font-size: clamp(1rem, calc(1rem + (100vw - 600px) * 0.0283018), 1.75rem);
                     }
                     @media (min-width: 1024px) {
                        font-size: 0.9375rem;
                     }
                  }
               }
            } 
         }
         button {
            background-color: transparent;
            border: none;
            color: $grey;
            text-decoration: underline;
            transition: 0.2s;
            font-size: 0.8rem;
            font-weight: 800;
            cursor: pointer;
            &:hover {
               color: $dark-tan;
            }
         }
      }
   }
   .grandTotal {
      background-color: $lighter-black;
      padding: 1.125rem 1.5rem;
      margin-bottom: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.0416), 1.75rem);
      border-bottom-left-radius: $radius-8;
      border-bottom-right-radius: $radius-8;
      @media (min-width: 600px) {
         width: 45%;
         margin-bottom: 0;
         border-radius: 0;
         border-top-right-radius: $radius-8;
         border-bottom-right-radius: $radius-8;
      }
      p {
         color: $white;
         margin-bottom: 0.5rem;
      }
      span {
         color: $white;
         font-size: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.0316), 1.6rem);
         font-weight: 800;
         @media (min-width: 600px) {
            font-size: clamp(1.125rem, calc(1.125rem + (100vw - 600px) * 0.0283018), 1.875rem);
         }
         @media (min-width: 1024px) {
            font-size: 1.125rem;
         }
      }
   }
}

