
.descrbtion {
   text-align: center;
   margin-top: clamp(5rem, calc(5rem + (100vw - 360px) * 0.2666 ), 9rem);
   @extend %pages-pads;
   @media (min-width: 600px) {
      margin-top: 5rem;
      margin-top: 9rem;
   }
   img {
      width: 100%;
      height: 100%;
      border-radius: $radius-10;
      margin-bottom: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
   }
   h3 {
      font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
      margin-bottom: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
      color: $jet-black;
      @media (min-width: 600px) {
         font-size: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.066037 ), 4.25rem);
         letter-spacing: 1px;
         margin-bottom: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
         font-weight: 800;
      }
      span {
         color: $dark-tan;
      }
   }
   p {
      @include paragraph-style;
   }
}