
.description {
   text-align: center;
   margin-top: clamp(5rem, calc(5rem + (100vw - 360px) * 0.2666 ), 9rem);
   @extend %main-pads;
   @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: auto calc(50% - 15px);
      flex-direction: row-reverse;
      text-align: left;
      gap: clamp(75px, calc(75px + (100vw - 1024px) * 0.1201923 ) , 125px);
      align-items: center;
      margin-top: 150px;
   }
   picture {
      grid-column: 2;
      img {
         width: 100%;
         border-radius: $radius-8;
         margin-bottom: 40px;
         @media (min-width: 1024px) {
            margin-bottom: 0;
         }
      }
   }
   div {
      grid-column: 1;
      grid-row: 1;
      h3 {
         color: $jet-black;
         font-size: clamp(28px, calc(28px + (100vw - 360px) * 0.041666), 38px);
         letter-spacing: 1px;
         font-weight: 800;
         margin-bottom: 36px;
         @media (min-width: 600px) {
            margin-bottom: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
            font-size: clamp(35px, calc(35px + (100vw - 600px) * 0.061320 ), 61px);
         }
         @media (min-width: 1024px) {
            font-size: clamp(35px, calc(35px + (100vw - 1024px) * 0.0276442 ) , 46.5px);
            letter-spacing: 1.43px;
            line-height: 44px;
            margin-bottom: 2rem;
         }
         span {
            color: $dark-tan;
         }
      }
      p {
         @include paragraph-style;
         @media (min-width: 1024px) {
            width: clamp(343px, calc(343px + (100vw - 1024px) * 0.233173 ) , 440px);
         }
      }
   }
}