
.description {
   text-align: center;
   margin-top: clamp(5rem, calc(5rem + (100vw - 360px) * 0.2666 ), 9rem);
   @extend %pages-pads;
   @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 54.5% auto;
      grid-template-columns: auto calc(50% - 15px);
      flex-direction: row-reverse;
      text-align: left;
      gap: 125px;
      gap: 75px;
      gap: clamp(75px, calc(75px + (100vw - 1024px) * 0.1201923 ) , 125px);;
      align-items: center;
      margin: 150px 0;
   }
   picture {
      grid-column: 2;
      img {
         width: 100%;
         border-radius: $radius-10;
         margin-bottom: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
         @media (min-width: 1024px) {
            height: auto;
            margin-bottom: 0;
            width: 100%;
         }
      }
   }
   div {
      grid-column: 1;
      grid-row: 1;
      h3 {
         font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
         margin-bottom: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
         color: $jet-black;
         @media (min-width: 600px) {
            font-size: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.066037 ), 4.25rem);
            letter-spacing: 1px;
            margin-bottom: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ), 3rem);
            font-weight: 800;
         }
         @media (min-width: 1024px) {
            font-size: 35px;
            font-size: 46.5px;
            font-size: clamp(35px, calc(35px + (100vw - 1024px) * 0.0276442 ) , 46.5px);
            letter-spacing: 1.43px;
            line-height: 44px;
            margin-bottom: 2rem;
         }
         span {
            color: $dark-tan;
         }
      }
      p {
         @include paragraph-style;
         @media (min-width: 1024px) {
            width: 440px;
            width: 343px;
            width: clamp(343px, calc(343px + (100vw - 1024px) * 0.233173 ) , 440px);
         }
      }
   }
}