
.descrbtion {
   @extend %sections-break;
   text-align: center;
   img {
      width: 100%;
      height: 100%;
      border-radius: $radius-10;
      margin-bottom: 2rem;
   }
   h3 {
      font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
      margin-bottom: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
      color: $jet-black;
      span {
         color: $dark-tan;
      }
   }
   p {
      @include paragraph-style;
   }
}