.checkoutPage {
   padding: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0333), 2rem);
   background-color: rgb(241, 241, 241);
   position: relative;
   @media (min-width: 600px) {
      padding: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ) ,3rem);
   }
   @media (min-width: 1024px) {
      padding: 3rem 117px 6rem;
   }
   
   .backBtn {
      font-weight: 400;
   }
   .checkoutContainer {
      margin-top: 1.5rem;
      display: grid;
      gap: 2rem;
      @media (min-width: 1024px) {
         display: flex;
         gap: 1.875rem;
      }
      section {
         background-color: $white;
         padding: 2rem;
         border-radius: $radius-10;
         @media (min-width: 600px) {
            padding: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735 ) ,3rem);
         }
         @media (min-width: 1024px) {
            &:last-of-type {
               padding: 1.5rem;
            }
         }
      }
      .checkout {
         display: grid;
         @media (min-width: 1024px) {
            width: 490px;
         }
         h1 {
            color: $lighter-black;
            font-size: clamp(1.75rem, calc(1.75rem + (100vw - 360px) * 0.0666), 2.75rem);
            @media (min-width: 600px) {
               font-size: clamp(2.25rem, calc(2.25rem + (100vw - 600px) * 0.037735 ) ,3.25rem);
            }
            @media (min-width: 1024px) {
               font-size: 2rem;
            }
         }
         span {
            @include darkTan-style;
            font-weight: 800;
            margin-top: 2rem;
            letter-spacing: 0.9px;
            @media (min-width: 600px) {
               letter-spacing: 1px;
            }
            @media (min-width: 1024px) {
               font-size: 0.8125rem;
            }
         }
         label, strong {
            display: block;
            font-size: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.0266), 1.15rem);
            color: $lighter-black;
            font-weight: 800;
            margin-bottom: clamp(0.5rem, calc(0.5rem + (100vw - 360px) * 0.0333), 1rem);
            margin-top: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.0333), 1.25rem);
            @media (min-width: 600px) {
               font-size: clamp(0.875rem, calc(0.875rem + (100vw - 600px) * 0.0094339 ) ,1.125rem);
            }
            @media (min-width: 1024px) {
               font-size: 0.75rem;
            }
         }
         input {
            padding: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0333), 1.5rem);
            border-radius: $radius-10;
            border: 1px solid $grey;
            margin-bottom: 1rem;
            @media (min-width: 600px) {
               width: 60%;
            }
            @media (min-width: 1024px) {
               font-size: 0.875rem;
               width: 90%;
               padding: 1.125rem 1.5rem;
            }
            &::placeholder {
               font-weight: 600;
               font-size: clamp(13.25px, calc(13.25px + (100vw - 360px) * 0.0177083), 17.5px);
               color: $dark-grey;
               @media (min-width: 600px) {
                  font-size: clamp(14.5px, calc(14.5px + (100vw - 600px) * 0.00825471 ) ,1.125rem);
               }
               @media (min-width: 1024px) {
                  font-size: 0.875rem;
               }
            }
         }
         .payment {
            .paymentMethod {
               display: flex;
               align-items: center;
               padding: 1rem;
               border-radius: $radius-10;
               border: 1px solid $grey;
               margin-bottom: 1rem;
               @media (min-width: 600px) {
                  margin-left: auto;
                  width: 55%;
               }
               input, label {
                  margin: 0;
               }
               label {
                  margin-left: 1rem;
               }
               input {
                  accent-color: $dark-tan;
                  width: 1.25rem;
                  transform: scale(1.3);
               }
            }
         }
         .cashDescription {
            display: grid;
            gap: 1rem;
            img {
               width: clamp(48px, calc(48px + (100vw - 360px) * 0.01125), 75px);
               height: clamp(48px, calc(48px + (100vw - 360px) * 0.01125), 75px);
               margin: 1.5rem 0 1rem;
               @media (min-width: 600px) {
                  margin: clamp(1rem, calc(1rem + (100vw - 600px) * 0.0188679), 1.5rem) 0 0 clamp(0.25rem, calc(0.25rem + (100vw - 600px) * 0.0094339), 0.5rem);;
               }
            }
            p {
               @include paragraph-style;
            }
         }
         .emoneyDescription {
            display: flex;
            flex-direction: column;
            label {
               margin-top: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.0333), 1.25rem);
            }
         }
      }
      .summary {
         display: flex;
         flex-direction: column;
         @media (min-width: 1024px) {
            height: fit-content;
            width: 323px;
         }
         h2 {
            margin-bottom: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666), 3rem);
            font-size: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.0583), 2rem);
            letter-spacing: 1px;
            @media (min-width: 600px) {
               font-size: clamp(1.125rem, calc(1.125rem + (100vw - 600px) * 0.0330188), 2rem);
            }
            @media (min-width: 1024px) {
               font-size: 1.125rem;
            }
         }
         div {
            display: flex;
            justify-content: space-between;
            &.product {
               align-items: center;
               font-weight: 800;
               margin-bottom: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0333), 1.5rem);
               .details {
                  display: grid;
                  align-content: center;
                  margin-left: 1.5rem;
                  @media (min-width: 600px) {
                     margin-left: 1rem;
                  }
               }
               img {
                  border-radius: 10%;
                  width: clamp(64px, calc(64px + (100vw - 360px) * 0.17083), 105px);
                  height: clamp(64px, calc(64px + (100vw - 360px) * 0.17083), 105px);
                  @media (min-width: 600px) {
                     width: clamp(64px, calc(64px + (100vw - 600px) * 0.0966981), 105px);
                     height: clamp(64px, calc(64px + (100vw - 600px) * 0.0966981), 105px);
                  }
                  @media (min-width: 1024px) {
                     width: 64px;
                     height: 64px;
                  }
               }
            }
            span {
               color: $lighter-black;
               font-size: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.0316), 1.6rem);
               font-weight: 800;
               @media (min-width: 600px) {
                  font-size: clamp(1.125rem, calc(1.125rem + (100vw - 600px) * 0.0235849), 1.75rem);
               }
               @media (min-width: 1024px) {
                  font-size: 1.125rem;
               }
            }
            p {
               @include paragraph-style;
               font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 360px) * 0.0375), 1.5rem);
               line-height: 3rem;
               @media (min-width: 600px) {
                  line-height: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037735), 3rem);
                  
               }
               @media (min-width: 1024px) {
                  font-size: 0.9375rem;
                  line-height: 25px;
               }
            }
            &.grandTotal {
               margin: 1.5rem 0;
               span {
                  color: $dark-tan;
               }
            }
            button.btnOrange {
               display: block;
               width: 100%;
               font-weight: 800;
            }
         }
      }
   }
}