
.homePage {
   text-align: center;
   .heroContainer {
      .background {
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: -1;
         top: 0;
         left: 0;
         @media (min-width: 600px) {
            top: 50px;
            height: calc(100vh - 50px);
         }
         @media (min-width: 1024px) {
            width: 100%;
            height: 100%;
            top: 0;
         }
      }
      .hero {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         padding: 0 1rem;
         height: 85vh;
         @media (min-width: 1024px) {
            align-items: flex-start;
            padding: 0; 
            width: 37.5%;
            margin-left: clamp(115px, calc(115px + (100vw - 1024px) * 0.084134), 150px);
            text-align: left;
            margin-bottom: 0;
         }
         span {
            color: $dark-grey;
            letter-spacing: clamp(10px, calc(10px + (100vw - 360px) * 0.0041666), 11px);
            font-size: clamp(14px, calc(14px + (100vw - 360px) * 0.008333), 16px);
            margin: 1rem;
            @media (min-width: 600px) {
               font-size: clamp(0.75rem, calc(0.75rem + (100vw - 600px) * 0.09433), 1rem);
               letter-spacing: clamp(0.45rem, calc(0.45rem + (100vw - 600px) * 0.01839), 0.9375rem);
               margin: clamp(0rem, calc(0rem + (100vw - 600px) * 0.26415), 7rem) 0 1rem;
            }
            @media (min-width: 1024px) {
               margin-top: 0;
               font-size: 14px;
               letter-spacing: 10px;
            }
         }
         h1 {
            color: $white;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
            font-size: clamp(36px, calc(36px + (100vw - 360px) * 0.0208333), 41px);
            line-height: clamp(40px, calc(40px + (100vw - 360px) * 0.0208333), 45px);
            letter-spacing: 1.29px;
            @media (min-width: 600px) {
               font-size: clamp(2.70rem, calc(2.70rem + (100vw - 600px) * 0.07735), 4.75rem);
               line-height: clamp(3rem, calc(3rem + (100vw - 600px) * 0.06603), 4.75rem);
               margin-bottom: clamp(0.5rem, calc(0.5rem + (100vw - 600px) * 0.03773), 1.5rem);
            }
            @media (min-width: 1024px) {
               font-size: 56px;
               letter-spacing: 2px;
               line-height: 58px;
               
            }
         }
         p {
            color: $grey;
            margin-bottom: 2rem;
            padding: 0 clamp(1rem, calc(1rem + (100vw - 360px) * 0.26666), 5rem);
            font-size: clamp(15px, calc(15px + (100vw - 360px) * 0.008333), 17px);
            line-height: 25px;
            @media (min-width: 600px) {
               font-size: clamp(0.75rem, calc(0.75rem + (100vw - 600px) * 0.019622), 1.27rem);
               padding: 0 clamp(9rem, calc(9rem + (100vw - 600px) * 0.26415), 16rem);
               line-height: clamp(1.25rem, calc(1.25rem + (100vw - 600px) * 0.01886), 1.75rem);
            }
            @media (min-width: 1024px) {
               font-size: 15px;
               width: 360px;
               padding: 0;
               padding-right: 1rem;
               font-weight: 500;
               line-height: 25px;
            }
         }
      }
   }
   .featuredProducts {
      @extend %main-pads;
      display: grid;
      gap: 1.5rem;
      @media (min-width: 600px) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: clamp(340px, calc(340px + (100vw - 600px) * 0.801886), 680px) repeat( 2, clamp(250px, calc(250px + (100vw - 600px) * 0.2122641), 340px));
         gap: 2rem;
      }
      @media (min-width: 1024px) {
         grid-template-rows: clamp(510px, calc(510px + (100vw - 1024px) * 0.120192), 560px) repeat(2, clamp(270px, calc(270px + (100vw - 1024px) * 0.120192), 320px));
      }
      div {
         @media (min-width: 600px) {
            width: 100%;
            height: 100%;
            margin-bottom: 0;
         }
      }
      .ZX9-Product {
         position: relative;
         border-radius: $radius-8;
         background-color: $dark-tan;
         display: grid;
         background-image: url("/assets/home/desktop/pattern-circles.svg");
         background-size: cover;
         background-position: center clamp(-210px, calc(-120px + (100vw - 360px) * -0.375), -120px);
         background-size: clamp(555px, calc(555px + (100vw - 360px) * 0.8125), 750px);;
         background-repeat: no-repeat;
         background-color: $dark-tan;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         @media (min-width: 600px) {
            justify-content: flex-start;
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            background-size: 140%;
            background-position: center clamp(-390px, calc(-225px + (100vw - 600px) * -0.38915), -225px);
         }
         @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            text-align: left;
            background-position: left clamp(-140px, calc(-125px + (100vw - 1024px) * -0.0360577), -125px) bottom clamp(-350px, calc(-250px + (100vw - 1024px) * -0.240384), -250px);
            background-size: clamp(770px, calc(770px + (100vw - 1024px) * 0.4182692), 944px);
            grid-row: 1;
            overflow: hidden;
            gap: 117.5px;
         }
         picture {
            width: 50%;
            .image {
               align-self: center;
               height: auto;
               width: clamp(160px, calc(160px + (100vw - 360px) * 0.208333), 210px);
               margin: 55px 0 32px;
               @media (min-width: 600px) {
                  width: clamp(152.5px, calc(152.5px + (100vw - 600px) * 0.25353), 260px);
                  margin-top: clamp(3rem, calc(3rem + (100vw - 600px) * 0.03773), 4rem);
                  margin-bottom: clamp(2.25rem, calc(2.25rem + (100vw - 600px) * 0.122641), 5.5rem);
               }
               @media (min-width: 1024px) {
                  width: clamp(325px, calc(325px + (100vw - 1024px) * 0.2043269), 410px);
                  margin: 0;
                  transform: translate(clamp(97.5px, calc(97.5px + (100vw - 1024px) * 0.2043269), 125px), clamp(47.5px, calc(70px + (100vw - 1024px) * -0.053966), 70px));
               }
            }
         }
         .details {
            @media (min-width: 600px) {
               width: clamp(380px, calc(380px + (100vw - 600px) * 0.400943), 550px);
            }
            @media (min-width: 1024px) {
               width: 349px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               margin-top: clamp(1px, calc(2.5rem + (100vw - 1024px) * -0.0961538), 2.5rem);
               margin-bottom: clamp(1px, calc(1px + (100vw - 1024px) * 0.2307692), 6rem);
            }
            h2 {
               color: $white;
               padding: 0 clamp(3rem, calc(3rem + (100vw - 360px) * 0.333333), 8rem);
               margin-bottom: clamp(18px, calc(18px + (100vw - 360px) * 0.05833), 32px);
               font-weight: 800;
               font-size: clamp(36px, calc(36px + (100vw - 360px) * 0.0416666), 46px);
               line-height: clamp(40px, calc(40px + (100vw - 360px) * 0.0416666), 50px);
               letter-spacing: 1.29px;
               @media (min-width: 600px) {
                  font-size: clamp(56px, calc(56px + (100vw - 600px) * 0.0754716), 88px);
                  padding: 0;
                  margin: 0;
                  line-height: clamp(56px, calc(56px + (100vw - 600px) * 0.084905), 92px);
               }
               @media (min-width: 1024px) {
                  font-size: 56px;
                  line-height: 58px;
                  padding: 0;
               }
            }
            p {
               @include paragraph-style-white;
               font-size: clamp(15px, calc(15px + (100vw - 360px) * 0.020833), 20px);
               padding: 0 clamp(1rem, calc(1rem + (100vw - 360px) * 0.2), 4rem);
               line-height: clamp(25px, calc(25px + (100vw - 360px) * 0.020833), 30px);
               @media (min-width: 600px) {
                  font-weight: 500;
                  padding: 0 1rem;
                  margin: clamp(1rem, calc(1rem + (100vw - 600px) * 0.0377358), 2rem) 0 clamp(1rem, calc(1rem + (100vw - 600px) * 0.0754716), 3rem);
               }
               @media (min-width: 1024px) {
                  padding: 0;
                  margin: 1.5rem 0;
               }
            }
            a {
               margin: 1.5rem auto 55px;
               display: block;
               @media (min-width: 600px) {
                  margin: 0 auto;
               }
               @media (min-width: 1024px) {
                  align-self: flex-start;
                  margin: 0;
               }
            }
         }
      }
      .ZX7-Product {
         position: relative;
         border-radius: $radius-8;
         display: flex;
         align-items: center;
         width: 100%;
         @media (min-width: 600px) {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
         }
         @media (min-width: 1024px) {
            grid-row: 2;
            background-size: 100% 100%;
            background-image: url("/assets/home/desktop/image-speaker-zx7.webp");
         }
         img {
            position: absolute;
            @include productImge-style;
            margin: 0;
            z-index: -1;
            top: 0;
         }
         .details {
            text-align: left;
            margin: 101px 0;
            margin-left: clamp(18px, calc(18px + (100vw - 360px) * 0.125), 48px);
            font-size: clamp(24px, calc(24px + (100vw - 360px) * 0.083333), 44px);
            @media (min-width: 600px) {
               margin: 0;
               padding: 101px clamp(47px, calc(47px + (100vw - 600px) * 0.040094), 64px);
               padding: clamp(60px, calc(60px + (100vw - 600px) * 0.096698), 101px) clamp(47px, calc(47px + (100vw - 600px) * 0.040094), 64px);
            }
            @media (min-width: 1024px) {
               padding: clamp(2rem, calc(2rem + (100vw - 1024px) * 0.0769230), 4rem) 0 0 5rem ;
            }
            h2{
               color: $lighter-black;
               font-size: clamp(1.75rem, calc(1.75rem + (100vw - 360px) * 0.103), 3.3em);
               letter-spacing: 2px;
               font-size: clamp(28px, calc(28px + (100vw - 360px) * 0.020833), 33px);
               font-weight: 800;
               margin-bottom: 32px;
               @media (min-width: 600px) {
                  font-size: clamp(24px, calc(24px + (100vw - 600px) * 0.028301), 36px);
               }
               @media (min-width: 1024px) {
                  letter-spacing: 2px;
                  font-size: 28px;
                  margin-bottom: 2rem;
               }
            }
         }
      }
      .YX1-Product {
         display: grid; 
         grid-template-rows: repeat(2, 1fr);
         gap: 24px;
         @media (min-width: 600px) {
            gap: clamp(0.5rem, calc(0.5rem + (100vw - 600px) * 0.0188679), 1rem);
            grid-column: 1 / 3;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: clamp(250px, calc(250px + (100vw - 600px) * 0.212264), 340px);
         }
         @media (min-width: 1024px) {
            gap: 30px;
            grid-row: 3;
            grid-template-rows: 1fr;
         }
         .imgContainer {
            @media (min-width: 1024px) {
               height: clamp(270px, calc(270px + (100vw - 1024px) * 0.1201923), 320px);
            }
            img {
               @include productImge-style;
            }
         }
         .details {
            background-color: $light-grey;
            border-radius: $radius-8;
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 2rem;
            @media (min-width: 600px) {
               grid-column: 2;
               padding-left: clamp(2rem, calc(2rem + (100vw - 600px) * 0.037335), 3rem);
            }
            @media (min-width: 1024px) {
               gap: 25px;
               padding-left: clamp(50px, calc(50px + (100vw - 1024px) * 0.10817307), 95px);
            }
            h2 {
               font-size: clamp(28px, calc(28px + (100vw - 360px) * 0.020833), 33px);
               letter-spacing: 2px;
               @media (min-width: 600px) {
                  text-align: left;
                  font-size: clamp(24px, calc(24px + (100vw - 600px) * 0.028301), 36px);
               }
               @media (min-width: 1024px) {
                  letter-spacing: 2px;
                  font-size: 28px;
               }
            }
         }
      }
   }
}
