
.productInner {
   @extend %pages-pads;
   margin: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0333), 2rem) 0;
   @media (min-width: 600px) {
      margin: 2.5rem 0;
      a.backBtn {
         font-size: 0.9375rem;
         @media (min-width: 600px) {
            font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.004716 ) ,1.125rem);
         }
      }
   }
   section {
      @extend %sections-break;
      @media (min-width: 600px) {
         display: grid;
         grid-template-columns: 37.5% 55%;
         gap: 7.5%;
         margin-top: 2rem;
      }
      .imageContainer {
         margin: 2rem 0;
         @media (min-width: 600px) {
            margin: 0;
            height: 85%;
            align-self: center;
         }
         img {
            @include productImge-style;
         }
      }
      .details {
         .newProduct {
            @include darkTan-style;
         }
         h1 {
            text-transform: uppercase;
            color: $lighter-black;
            font-size: clamp(1.82rem, calc(1.82rem + (100vw - 360px) * 0.0986 ) ,3.3rem);
            margin: 1.5rem 0;
            @media (min-width: 600px) {
               font-size: clamp(1.75rem, calc(1.75rem + (100vw - 360px) * 0.037735 ) ,3rem);
               letter-spacing: 1px;
               line-height: 3.5rem;
            }
         }
         p {
            @include paragraph-style;
            font-weight: 400;
         }
         .price {
            display: block;
            margin: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0666 ) ,2.5rem) 0;
            font-weight: 600;
            font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0666 ) ,2rem);
            @media (min-width: 600px) {
               font-size: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.0330188 ) ,2rem);
               margin: clamp(1.125rem, calc(1.125rem + (100vw - 360px) * 0.042452 ) ,2.25rem) 0;
            }
            span {
               margin-left: 0.25rem;
            }
         }
         .quantityButton {
            @include quantityButton;
         }
      }
   }
   .productFeatures {
      @extend %sections-break;
      h2 {
         font-size: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0833 ) ,2.75rem);
         margin-bottom: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0666 ) ,2rem);
         @media (min-width: 600px) {
            font-size: clamp(2rem, calc(2rem + (100vw - 360px) * 0.056603 ) ,3.5rem);
            letter-spacing: 1px;
            margin-bottom: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.037735 ) ,2.5rem);
         }
      }
      p {
         @include paragraph-style;
         white-space: pre-line;
      }
   }
   .productInclaudes {
      @extend %sections-break;
      @media (min-width: 600px) {
         display: flex;
      }
      h3 {
         font-size: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.0666 ) ,2.5rem);
         margin-bottom: 2rem;
         @media (min-width: 600px) {
            font-size: clamp(2rem, calc(2rem + (100vw - 600px) * 0.056603) ,3.5rem);
            letter-spacing: 0.5px;
      }
      }
      span {
         color: $dark-tan;
         display: block;
         margin-bottom: 0.25rem;
         font-size: clamp(1rem, calc(1rem + (100vw - 360px) * 0.0333) ,1.5rem);
         font-weight: 600;
            @media (min-width: 600px) {
            font-size: clamp(0.9375rem, calc(0.9375rem + (100vw - 600px) * 0.023584) ,25px);
            margin-left: clamp(5.25rem, calc(5.25rem + (100vw - 600px) * 0.150943) ,9.25rem);
         }
         p {
            @include paragraph-style;
            display: inline;
            margin-left: clamp(0.75rem, calc(0.75rem + (100vw - 360px) * 0.05 ) ,1.5rem);
            font-weight: 400;
         }
      }
   }
   .productGallary {
      @extend %sections-break;
      display: grid;
      grid-template-rows: repeat(3, (25% 25% 50%) - 3rem);
      gap: 1rem;
      @media (min-width: 600px) {
         grid-template-columns: 40% 57%;
         grid-template-rows: auto auto;
         gap: 1rem;
         height: fit-content;
         div {
            width: 100%;
            height: 100%;
            img {
               width: 100%;
               height: 100%;
               border-radius: $radius-10;
            }
         }
         .second {
            grid-row: 2;
            grid-column: 1;
         }
         .third {
            grid-row: span 2;
            grid-column: 2;
         }
      }
   }
   .suggestedProducts {
      text-align: center;
      margin-bottom: 10rem;
      @media (min-width: 600px) {
         
      }
      h4 {
         font-size: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.08333 ) ,2.75rem);
         margin-bottom: clamp(2rem, calc(2rem + (100vw - 360px) * 0.0666 ) ,3rem);
         @media (min-width: 600px) {
            font-size: clamp(2.125rem, calc(2.125rem + (100vw - 600px) * 0.099056 ) ,3.75rem);
            margin-bottom: clamp(2.5rem, calc(2.5rem + (100vw - 600px) * 0.037735 ) ,3.5rem);
         }
      }
      .items {
            @media (min-width: 600px) {
               display: flex;
               gap: 0.75rem;
            }
         .item {
            @extend %sections-break;
            @media (min-width: 600px) {
               display: grid;
               height: 100%;
               margin-bottom: 0;
               justify-items: center;
            }
            img {
               width: 100%;
               height: 100%;
               border-radius: $radius-10;
            }
            h5 {
               text-transform: uppercase;
               font-size: clamp(1.5rem, calc(1.5rem + (100vw - 360px) * 0.08333 ) ,2.75rem);
               color: $lighter-black;
               margin: 2rem 0 3rem;
               @media (min-width: 600px) {
                  font-size: clamp(1.5rem, calc(1.5rem + (100vw - 600px) * 0.047169) ,2.75rem);
               }
            }
            a {
               @media (min-width: 600px) {
                  width: 95%;
               }
            }
         }
      }
   }
   .description,
   .categories {
      @media (min-width: 600px) {
         padding: 0;
         div {
            margin: 0;
         }
      }
   }
   .description {
      @media (min-width: 600px)  {
         margin-top: clamp(7rem, calc(7rem + (100vw - 600px) * 0.0754716) ,9rem);
      }
   }
}
